<div class="row">
  <!-- table card-1 start -->
  <div class="col-md-12 col-xl-4">
    <div class="card table-card">
      <div class="row-table">
        <div class="col-sm-6 card-body-big br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-eye text-c-green mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>10k</h5>
              <span>Visitors</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body-big">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-music text-c-red mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>100%</h5>
              <span>Volume</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row-table">
        <div class="col-sm-6 card-body-big br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-file-text text-c-blue mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>2000 +</h5>
              <span>Files</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body-big">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-mail text-c-yellow mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>120</h5>
              <span>Mails</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- table card-1 end -->
  <!-- table card-2 start -->
  <div class="col-md-12 col-xl-4">
    <div class="card table-card">
      <div class="row-table">
        <div class="col-sm-6 card-body-big br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-share-2 text-c-purple mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>1000</h5>
              <span>Shares</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body-big">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-wifi text-c-purple mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>600</h5>
              <span>Network</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row-table">
        <div class="col-sm-6 card-body-big br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-rotate-ccw text-c-purple mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>3550</h5>
              <span>Returns</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body-big">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-shopping-cart text-c-purple mb-1 d-blockz"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>100%</h5>
              <span>Order</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- table card-2 end -->
  <!-- Widget primary-success card start -->
  <div class="col-md-12 col-xl-4">
    <!-- widget primary card start -->
    <div class="card table-card widget-primary-card">
      <div class="row-table">
        <div class="col-sm-3 card-body-big">
          <i class="feather icon-star-on"></i>
        </div>
        <div class="col-sm-9">
          <h4>4000 +</h4>
          <h6>Ratings Received</h6>
        </div>
      </div>
    </div>
    <!-- widget primary card end -->
    <!-- widget-success-card start -->
    <div class="card table-card widget-purple-card">
      <div class="row-table">
        <div class="col-sm-3 card-body-big">
          <i class="fas fa-trophy"></i>
        </div>
        <div class="col-sm-9">
          <h4>17</h4>
          <h6>Achievements</h6>
        </div>
      </div>
    </div>
    <!-- widget-success-card end -->
  </div>
  <!-- Widget primary-success card end -->
  <!-- liveline-section start -->
  <div class="col-sm-12 stastic-slider-full-card">
    <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" [interval]="2500">
      <ng-template ngbSlide>
        <div class="row no-gutters">
          <div class="col-md-4 col-xl-2">
            <div class="card">
              <div class="card-body">
                <span>REALTY</span>
                <h6 class="float-right text-c-red d-inline-block m-0">-0.99</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-2">
            <div class="card">
              <div class="card-body">
                <span>TELCOM</span>
                <h6 class="float-right text-c-green d-inline-block m-0">+1.52</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-2">
            <div class="card">
              <div class="card-body">
                <span>CPSE</span>
                <h6 class="float-right text-c-green d-inline-block m-0">+5.78</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-2">
            <div class="card">
              <div class="card-body">
                <span>INFRA</span>
                <h6 class="float-right text-c-red d-inline-block m-0">-7.66</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-2">
            <div class="card">
              <div class="card-body">
                <span>TECK</span>
                <h6 class="float-right text-c-green d-inline-block m-0">+4.56</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-2">
            <div class="card">
              <div class="card-body">
                <span>BASMTR</span>
                <h6 class="float-right text-c-green d-inline-block m-0">+0.78</h6>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="row no-gutters">
          <div class="col-md-4 col-xl-2">
            <div class="card">
              <div class="card-body">
                <span>TELCOM</span>
                <h6 class="float-right text-c-green d-inline-block m-0">+5.78</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-2">
            <div class="card">
              <div class="card-body">
                <span>BASMTR</span>
                <h6 class="float-right text-c-red d-inline-block m-0">-7.66</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-2">
            <div class="card">
              <div class="card-body">
                <span>TECK</span>
                <h6 class="float-right text-c-green d-inline-block m-0">+1.52</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-2">
            <div class="card">
              <div class="card-body">
                <span>INFRA</span>
                <h6 class="float-right text-c-green d-inline-block m-0">+4.56</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-2">
            <div class="card">
              <div class="card-body">
                <span>CPSE</span>
                <h6 class="float-right text-c-red d-inline-block m-0">-0.99</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-2">
            <div class="card">
              <div class="card-body">
                <span>REALTY</span>
                <h6 class="float-right text-c-green d-inline-block m-0">+0.78</h6>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <!-- liveline-section end -->
  <!-- liveline1-section start -->
  <div class="col-sm-12 stastic-slider-full-card">
    <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" [interval]="2500">
      <ng-template ngbSlide>
        <div class="row no-gutters">
          <div class="col-md-6 col-xl-3">
            <div class="card bg-dark rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-ethereum text-c-red f-22 m-r-5"></i>Ethereum(ETH)</span>
                <h6 class="badge badge-danger text-white float-right d-inline-block m-0">+1.5278</h6>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card bg-dark rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-bitcoin text-c-yellow f-22 m-r-5"></i>Bitcoin(BTC)</span>
                <h6 class="badge badge-warning text-white float-right d-inline-block m-0">-0.997896</h6>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card bg-dark rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-cloudsmith text-c-blue f-22 m-r-5"></i>Ripple(RPL)</span>
                <h6 class="badge badge-primary text-white float-rightd-inline-block m-0">-7.66789</h6>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card bg-dark rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-asymmetrik text-c-yellow f-22 m-r-5"></i>Neo(NEO)</span>
                <h6 class="badge badge-warning text-white float-right d-inline-block m-0">+5.78789</h6>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="row no-gutters">
          <div class="col-md-6 col-xl-3">
            <div class="card bg-dark rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-ethereum text-c-red f-22 m-r-5"></i>Ethereum(ETH)</span>
                <h6 class="badge badge-danger text-white float-right d-inline-block m-0">-7.6648</h6>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card bg-dark rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-bitcoin text-c-yellow f-22 m-r-5"></i>Bitcoin(BTC)</span>
                <h6 class="badge badge-warning text-white float-right d-inline-block m-0">+5.1024</h6>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card bg-dark rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-cloudsmith text-c-blue f-22 m-r-5"></i>Ripple(RPL)</span>
                <h6 class="badge badge-primary text-white float-right d-inline-block m-0">+4.5896</h6>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card bg-dark rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-asymmetrik text-c-yellow f-22 m-r-5"></i>Neo(NEO)</span>
                <h6 class="badge badge-warning text-white float-right d-inline-block m-0">+1.4563</h6>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <!-- liveline1-section end -->
  <!-- liveline2-section start -->
  <div class="col-sm-12 stastic-slider-full-card">
    <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" [interval]="2500">
      <ng-template ngbSlide>
        <div class="row no-gutters">
          <div class="col-md-6 col-xl-3">
            <div class="card rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="d-flex justify-content-center align-items-center"><i class="fab fa-bitcoin text-c-yellow f-22 m-r-5"></i>Bitcoin(BTC)</span>
                <h6 class="badge badge-warning text-white float-right d-inline-block m-0">-0.997896</h6>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="d-flex justify-content-center align-items-center"><i class="fab fa-ethereum text-c-red f-22 m-r-5"></i>Ethereum(ETH)</span>
                <h6 class="badge badge-danger text-white float-right d-inline-block m-0">+1.1456</h6>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="d-flex justify-content-center align-items-center"><i class="fab fa-asymmetrik text-c-yellow f-22 m-r-5"></i>Neo(NEO)</span>
                <h6 class="badge badge-warning text-white float-right d-inline-block m-0">+5.78787</h6>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="d-flex justify-content-center align-items-center"><i class="fab fa-cloudsmith text-c-green f-22 m-r-5"></i>Ripple(RPL)</span>
                <h6 class="badge badge-success text-white float-rightd-inline-block m-0">-7.99999</h6>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="row no-gutters">
          <div class="col-md-6 col-xl-3">
            <div class="card rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="d-flex justify-content-center align-items-center"><i class="fab fa-bitcoin text-c-yellow f-22 m-r-5"></i>Bitcoin(BTC)</span>
                <h6 class="badge badge-warning text-white float-right d-inline-block m-0">+5.6565</h6>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="d-flex justify-content-center align-items-center"><i class="fab fa-ethereum text-c-red f-22 m-r-5"></i>Ethereum(ETH)</span>
                <h6 class="badge badge-danger text-white float-right d-inline-block m-0">-7.7878</h6>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="d-flex justify-content-center align-items-center"><i class="fab fa-asymmetrik text-c-yellow f-22 m-r-5"></i>Neo(NEO)</span>
                <h6 class="badge badge-warning text-white float-right d-inline-block m-0">+1.3698</h6>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card rounded-0 shadow-none">
              <div class="card-body d-flex justify-content-between align-items-center">
                <span class="d-flex justify-content-center align-items-center"><i class="fab fa-cloudsmith text-c-green f-22 m-r-5"></i>Ripple(RPL)</span>
                <h6 class="badge badge-success text-white float-right d-inline-block m-0">+4.5889</h6>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <!-- liveline2-section end -->
  <!-- live-view start -->
  <div class="col-xl-4 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-auto">
            <h6>Sales view</h6>
          </div>
          <div class="col text-right">
            <h2>1042</h2>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <h3 class="m-0"><i class="fas fa-circle text-success f-10 m-r-5"></i>66%</h3>
            <span class="ml-3">Desktop</span>
          </div>
          <div class="col">
            <h3 class="m-0"><i class="fas fa-circle text-primary f-10 m-r-5"></i>26%</h3>
            <span class="ml-3">Tablet</span>
          </div>
          <div class="col">
            <h3 class="m-0"><i class="fas fa-circle text-danger f-10 m-r-5"></i>8%</h3>
            <span class="ml-3">Mobile</span>
          </div>
        </div>
        <div class="progress mt-4" style="height:8px;">
          <div class="progress-bar bg-success rounded mr-1" role="progressbar" style="width: 66%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-primary rounded mr-1" role="progressbar" style="width: 26%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 8%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h6 class="mb-1">New York , NY</h6>
        <span class="d-block mb-2">Monday 2:00 PM</span>
        <div class="row align-items-center justify-content-center">
          <div class="col-auto">
            <h2 class="text-c-purple m-0"><i class="feather icon-cloud-snow text-muted mr-2"></i>23<sup class="f-20">°</sup></h2>
          </div>
          <div class="col text-right">
            <div class="form-group mb-1">
              <label class="m-r-5 f-20 mb-0">°C</label>
              <div class="switch switch-primary d-inline">
                <input type="checkbox" id="switch-a-1" checked="">
                <label for="switch-a-1" class="cr"></label>
              </div>
              <label class="m-l-5 f-20 mb-0">°F</label>
            </div>
            <span class="d-block mt-1">Partly Cloudy</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- live-view end -->
  <!-- active-user start -->
  <div class="col-xl-4 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-start">
          <div class="col">
            <h2>954</h2>
          </div>
          <div class="col-auto text-right">
            <h6 class="text-muted">New Order</h6>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-6">
            <span class="d-block"><i class="fas fa-circle text-c-green f-10 m-r-10"></i>India</span>
            <span class="d-block"><i class="fas fa-circle text-c-red f-10 m-r-10"></i>France</span>
            <span class="d-block"><i class="fas fa-circle text-c-blue f-10 m-r-10"></i>Other</span>
          </div>
          <div class="col-sm-6">
            <span class="d-block"><i class="fas fa-circle text-c-yellow f-10 m-r-10"></i>United states</span>
            <span class="d-block"><i class="fas fa-circle text-c-purple f-10 m-r-10"></i>United Kingdom</span>
          </div>
        </div>
        <div class="progress mt-3" style="height:20px;">
          <div class="progress-bar bg-success rounded" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">24%</div>
          <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">12%</div>
          <div class="progress-bar bg-primary rounded" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">10%</div>
          <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">8%</div>
          <div class="progress-bar bg-info rounded" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">35%</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>Overdue tasks</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h2 class="m-0"><i class="feather icon-arrow-up text-c-green"></i>4</h2>
          </div>
          <div class="col text-right">
            <h5 class="text-c-green m-0">15%</h5>
            <span class="d-block">Last Month:6</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- active-user end -->
  <!-- Revenue-section start -->
  <div class="col-xl-4 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-auto">
            <span>Revenue</span>
          </div>
          <div class="col text-right">
            <div class="btn-group">
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">This Year</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:">1 Week</a>
                <a class="dropdown-item" href="javascript:">2 Month</a>
                <a class="dropdown-item" href="javascript:">4 Year</a>
              </div>
            </div>
          </div>
        </div>
        <div class="progress mt-4" style="height:10px;">
          <div class="progress-bar bg-primary" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="row">
          <div class="col-auto">
            <span class="text-uppercase mt-2 d-block">Earning</span>
            <h5 class="mb-0">$6.455</h5>
          </div>
          <div class="col text-right">
            <span class="text-uppercase mt-2 d-block">Expense</span>
            <h5 class="mb-0">$3.869</h5>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-auto">
            <span class="text-uppercase d-block">budget</span>
          </div>
          <div class="col text-right">
            <span class="text-uppercase d-block">Earning</span>
            <h5 class="mb-0">$5,569 of $1,000</h5>
          </div>
        </div>
        <div class="progress mt-2" style="height:10px;">
          <div class="progress-bar bg-success rounded" role="progressbar" style="width: 50%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">40%</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body p-0">
        <div class="row d-flex align-items-center m-0">
          <div class="col-6 text-center">
            <div style="padding:20px 25px;">
              <h2 class="text-c-purple mb-0">19<sup class="f-20">°</sup></h2>
              <span>Sunny</span>
            </div>
          </div>
          <div class="col-6 text-center bg-primary p-0">
            <div style="padding:20px 25px;">
              <i class="feather icon-sun f-36 text-white"></i>
              <h6 class="mt-2 mb-0 text-white f-w-400">New York , NY</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Revenue-section end -->
  <!-- timeline-section start -->
  <div class="col-sm-12">
    <div class="row no-gutters statstic-data-card">
      <div class="col-md-6 col-xl-3">
        <div class="card">
          <div class="card-body border-bottom p-0">
            <div class="row text-center m-0">
              <div class="col border-right">
                <h6 class="my-3 text-c-red">0.56%</h6>
              </div>
              <div class="col border-right">
                <h6 class="my-3 text-c-red">0.88</h6>
              </div>
              <div class="col">
                <h6 class="my-3 text-muted">160.40</h6>
              </div>
            </div>
          </div>
          <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" [interval]="2500">
            <ng-template ngbSlide>
              <div class="card-body level-down text-right">
                <span class="float-left"><i class="feather icon-trending-down text-c-red f-16 mr-2"></i>SPY</span>
                <h3 class="d-inline-block m-0">CPSE</h3>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="card-body level-up text-right">
                <span class="float-left"><i class="feather icon-trending-up text-c-green f-16 mr-2"></i>DIA</span>
                <h3 class="d-inline-block m-0">FIN</h3>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="card-body text-right">
                <span class="float-left"><i class="feather icon-trending-down text-c-green f-16 mr-2"></i>QQQ</span>
                <h3 class="d-inline-block m-0">CDGS</h3>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="card-body level-down text-right">
                <span class="float-left"><i class="feather icon-trending-down text-c-red f-16 mr-2"></i>IWM</span>
                <h3 class="d-inline-block m-0">BANKEX</h3>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card">
          <div class="card-body border-bottom p-0">
            <div class="row text-center m-0">
              <div class="col border-right">
                <h6 class="my-3 text-c-green">0.76%</h6>
              </div>
              <div class="col border-right">
                <h6 class="my-3 text-c-green">0.45</h6>
              </div>
              <div class="col">
                <h6 class="my-3 text-muted">110.40</h6>
              </div>
            </div>
          </div>
          <div class="card-body level-down text-right">
            <span class="float-left"><i class="feather icon-trending-down text-c-red f-16 mr-2"></i>SPY</span>
            <h3 class="d-inline-block m-0">BANKEX</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card">
          <div class="card-body border-bottom p-0">
            <div class="row text-center m-0">
              <div class="col border-right">
                <h6 class="my-3 text-c-green">0.73%</h6>
              </div>
              <div class="col border-right">
                <h6 class="my-3 text-c-green">0.65</h6>
              </div>
              <div class="col">
                <h6 class="my-3 text-muted">120.34</h6>
              </div>
            </div>
          </div>
          <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" [interval]="2500">
            <ng-template ngbSlide>
              <div class="card-body level-down text-right">
                <span class="float-left"><i class="feather icon-trending-down text-c-red f-16 mr-2"></i>SPY</span>
                <h3 class="d-inline-block m-0">REALTY</h3>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="card-body level-up text-right">
                <span class="float-left"><i class="feather icon-trending-up text-c-green f-16 mr-2"></i>DIA</span>
                <h3 class="d-inline-block m-0">METAL</h3>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="card-body text-right">
                <span class="float-left"><i class="feather icon-trending-down text-c-green f-16 mr-2"></i>QQQ</span>
                <h3 class="d-inline-block m-0">OILGAS</h3>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="card-body level-down text-right">
                <span class="float-left"><i class="feather icon-trending-down text-c-red f-16 mr-2"></i>IWM</span>
                <h3 class="d-inline-block m-0">CDGS</h3>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card">
          <div class="card-body border-bottom p-0">
            <div class="row text-center m-0">
              <div class="col border-right">
                <h6 class="my-3 text-c-red">1.26%</h6>
              </div>
              <div class="col border-right">
                <h6 class="my-3 text-c-green">1.57</h6>
              </div>
              <div class="col">
                <h6 class="my-3 text-muted">150.65</h6>
              </div>
            </div>
          </div>
          <div class="card-body level-down text-right">
            <span class="float-left"><i class="feather icon-trending-down text-c-red f-16 mr-2"></i>SPY</span>
            <h3 class="d-inline-block m-0">UTILS</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- timeline-section end -->
  <!-- Facebook card start -->
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-body-big bg-facebook">
        <h3 class="text-white m-0">1165 +</h3>
        <span class="m-t-10">Facebook Users</span>
        <i class="fab fa-facebook"></i>
      </div>
    </div>
  </div>
  <!-- Facebook card end -->
  <!-- Twitter card start -->
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-body-big bg-twitter">
        <h3 class="text-white m-0">780 +</h3>
        <span class="m-t-10">Twitter Users</span>
        <i class="fab fa-twitter"></i>
      </div>
    </div>
  </div>
  <!-- Twitter card end -->
  <!-- Linked in card start -->
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-body-big bg-linkedin">
        <h3 class="text-white m-0">998 +</h3>
        <span class="m-t-10">Linked In Users</span>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>
  </div>
  <!-- Linked in card end -->
  <!-- Google-plus card start -->
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-body-big bg-googleplus">
        <h3 class="text-white m-0">650 +</h3>
        <span class="m-t-10">Google Plus Users</span>
        <i class="fab fa-google-plus-g"></i>
      </div>
    </div>
  </div>
  <!-- Google-plus card end -->
  <!-- imprestion, goal, impect start -->
  <div class="col-xl-4 col-md-12">
    <div class="card comp-card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="m-b-20">Impressions</h6>
            <h3 class="text-c-blue">1,563</h3>
            <p class="m-b-0">May 23 - June 01 (2018)</p>
          </div>
          <div class="col-auto">
            <i class="fas fa-eye bg-c-blue"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card comp-card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="m-b-20">Goal</h6>
            <h3 class="text-c-green">30,564</h3>
            <p class="m-b-0">May 28 - June 01 (2018)</p>
          </div>
          <div class="col-auto">
            <i class="fas fa-bullseye bg-c-green"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card comp-card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="m-b-20">Impact</h6>
            <h3 class="text-c-yellow">42.6%</h3>
            <p class="m-b-0">May 30 - June 01 (2018)</p>
          </div>
          <div class="col-auto">
            <i class="fas fa-hand-paper bg-c-yellow"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- imprestion, goal, impect end -->
  <!-- product profit start -->
  <div class="col-xl-3 col-md-6">
    <div class="card prod-p-card bg-c-red">
      <div class="card-body">
        <div class="row align-items-center m-b-25">
          <div class="col">
            <h6 class="m-b-5 text-white">Total Profit</h6>
            <h3 class="m-b-0 text-white">$1,783</h3>
          </div>
          <div class="col-auto">
            <i class="fas fa-money-bill-alt text-c-red f-18"></i>
          </div>
        </div>
        <p class="m-b-0 text-white"><span class="label label-danger m-r-10">+11%</span>From Previous Month</p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card prod-p-card bg-c-blue">
      <div class="card-body">
        <div class="row align-items-center m-b-25">
          <div class="col">
            <h6 class="m-b-5 text-white">Total Orders</h6>
            <h3 class="m-b-0 text-white">15,830</h3>
          </div>
          <div class="col-auto">
            <i class="fas fa-database text-c-blue f-18"></i>
          </div>
        </div>
        <p class="m-b-0 text-white"><span class="label label-primary m-r-10">+12%</span>From Previous Month</p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card prod-p-card bg-c-green">
      <div class="card-body">
        <div class="row align-items-center m-b-25">
          <div class="col">
            <h6 class="m-b-5 text-white">Average Price</h6>
            <h3 class="m-b-0 text-white">$6,780</h3>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign text-c-green f-18"></i>
          </div>
        </div>
        <p class="m-b-0 text-white"><span class="label label-success m-r-10">+52%</span>From Previous Month</p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card prod-p-card bg-c-yellow">
      <div class="card-body">
        <div class="row align-items-center m-b-25">
          <div class="col">
            <h6 class="m-b-5 text-white">Product Sold</h6>
            <h3 class="m-b-0 text-white">6,784</h3>
          </div>
          <div class="col-auto">
            <i class="fas fa-tags text-c-yellow f-18"></i>
          </div>
        </div>
        <p class="m-b-0 text-white"><span class="label label-warning m-r-10">+52%</span>From Previous Month</p>
      </div>
    </div>
  </div>
  <!-- product profit end -->
  <!-- client-section start -->
  <div class="col-sm-12">
    <div class="row no-gutters">
      <div class="col-md-4 col-xl-2">
        <div class="card">
          <div class="card-body border-bottom">
            <span class="text-muted">Support Requests</span>
            <h3 class="mt-3 mb-0"><i class="feather icon-arrow-down text-c-red"></i>25<sup class="text-c-red f-14 ml-1">-11%</sup></h3>
          </div>
          <div class="card-body">
            <span class="text-muted">Open Ticket</span>
            <h3 class="mt-3 mb-0"><i class="feather icon-arrow-down text-c-red"></i>29<sup class="text-c-red f-14 ml-1">-11%</sup></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-2">
        <div class="card">
          <div class="card-body border-bottom">
            <span class="text-muted">Agent Response</span>
            <h3 class="mt-3 mb-0"><i class="feather icon-arrow-up text-c-green"></i>8<sup class="text-c-green f-14 ml-1">+6%</sup></h3>
          </div>
          <div class="card-body">
            <span class="text-muted">Running Ticket</span>
            <h3 class="mt-3 mb-0"><i class="feather icon-arrow-down text-c-red"></i>15<sup class="text-c-red f-14 ml-1">-13%</sup></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-2">
        <div class="card">
          <div class="card-body border-bottom">
            <span class="text-muted">Support Resolved</span>
            <h3 class="mt-3 mb-0"><i class="feather icon-arrow-down text-c-red"></i>1<sup class="text-c-red f-14 ml-1">-11%</sup></h3>
          </div>
          <div class="card-body">
            <span class="text-muted">Solved Ticket</span>
            <h3 class="mt-3 mb-0"><i class="feather icon-arrow-up text-c-green"></i>4<sup class="text-c-green f-14 ml-1">+5%</sup></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-2">
        <div class="card">
          <div class="card-body border-bottom">
            <span class="text-muted">Pending Ticket</span>
            <h3 class="mt-3 mb-0"><i class="feather icon-arrow-up text-c-green"></i>1.56<sup class="text-c-green f-14 ml-1">+8%</sup></h3>
          </div>
          <div class="card-body">
            <span class="text-muted">Reassign Ticket</span>
            <h3 class="mt-3 mb-0"><i class="feather icon-arrow-down text-c-red"></i>2<sup class="text-c-red f-14 ml-1">-11%</sup></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-2">
        <div class="card">
          <div class="card-body border-bottom">
            <span class="text-muted">Reopen Ticket</span>
            <h3 class="mt-3 mb-0"><i class="feather icon-arrow-up text-c-green"></i>5.76%<sup class="text-c-green f-14 ml-1">+4%</sup></h3>
          </div>
          <div class="card-body">
            <span class="text-muted">Close Ticket</span>
            <h3 class="mt-3 mb-0"><i class="feather icon-arrow-up text-c-green"></i>10<sup class="text-c-green f-14 ml-1">+9%</sup></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-2">
        <div class="card">
          <div class="card-body border-bottom">
            <span class="text-muted">Return Ticket</span>
            <h3 class="mt-3 mb-0"><i class="feather icon-arrow-down text-c-red"></i>4 Days<sup class="text-c-red f-14 ml-1">+7%</sup></h3>
          </div>
          <div class="card-body">
            <span class="text-muted">Satisfied Clients</span>
            <h3 class="mt-3 mb-0"><i class="feather icon-arrow-down text-c-red"></i>3<sup class="text-c-red f-14 ml-1">+6%</sup></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- client-section end -->
  <!-- Project statustic start -->
  <div class="col-xl-12">
    <div class="card proj-progress-card">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <h6>Published Project</h6>
            <h5 class="m-b-25">532<span class="text-c-red m-l-10 m-r-10">+1.69%</span></h5>
            <div class="progress">
              <div class="progress-bar progress-c-red bg-c-red" style="width:25%"></div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <h6>Completed Task</h6>
            <h5 class="m-b-25">4,569<span class="text-c-blue m-l-10 m-r-10">-0.5%</span></h5>
            <div class="progress">
              <div class="progress-bar progress-c-blue bg-c-blue" style="width:65%"></div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <h6>Successfull Task</h6>
            <h5 class="m-b-25">89%<span class="text-c-green m-l-10 m-r-10">+0.99%</span></h5>
            <div class="progress">
              <div class="progress-bar progress-c-green bg-c-green" style="width:85%"></div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <h6>Ongoing Project</h6>
            <h5 class="m-b-25">365<span class="text-c-yellow m-l-10 m-r-10">+0.35%</span></h5>
            <div class="progress">
              <div class="progress-bar progress-c-yellow bg-c-yellow" style="width:45%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Project statustic end -->
  <!-- project-ticket start -->
  <div class="col-xl-4 col-md-12">
    <div class="card proj-t-card">
      <div class="card-body">
        <div class="row align-items-center m-b-30">
          <div class="col-auto">
            <i class="far fa-calendar-check text-c-red f-30"></i>
          </div>
          <div class="col p-l-0">
            <h6 class="m-b-5">Ticket Answered</h6>
            <h6 class="m-b-0 text-c-red">Live Update</h6>
          </div>
        </div>
        <div class="row align-items-center text-center">
          <div class="col">
            <h6 class="m-b-0">327</h6>
          </div>
          <div class="col"><i class="fas fa-exchange-alt text-c-red f-18"></i></div>
          <div class="col">
            <h6 class="m-b-0">10 Days</h6>
          </div>
        </div>
        <h6 class="pt-badge bg-c-red">53%</h6>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card proj-t-card">
      <div class="card-body">
        <div class="row align-items-center m-b-30">
          <div class="col-auto">
            <i class="fas fa-paper-plane text-c-green f-30"></i>
          </div>
          <div class="col p-l-0">
            <h6 class="m-b-5">Project Launched</h6>
            <h6 class="m-b-0 text-c-green">Live Update</h6>
          </div>
        </div>
        <div class="row align-items-center text-center">
          <div class="col">
            <h6 class="m-b-0">3 Year</h6>
          </div>
          <div class="col"><i class="fas fa-exchange-alt text-c-green f-18"></i></div>
          <div class="col">
            <h6 class="m-b-0">623</h6>
          </div>
        </div>
        <h6 class="pt-badge bg-c-green">76%</h6>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card proj-t-card">
      <div class="card-body">
        <div class="row align-items-center m-b-30">
          <div class="col-auto">
            <i class="fas fa-lightbulb text-c-yellow f-30"></i>
          </div>
          <div class="col p-l-0">
            <h6 class="m-b-5">Unique Innovation</h6>
            <h6 class="m-b-0 text-c-yellow">Live Update</h6>
          </div>
        </div>
        <div class="row align-items-center text-center">
          <div class="col">
            <h6 class="m-b-0">1 Month</h6>
          </div>
          <div class="col"><i class="fas fa-exchange-alt text-c-yellow f-18"></i></div>
          <div class="col">
            <h6 class="m-b-0">248</h6>
          </div>
        </div>
        <h6 class="pt-badge bg-c-yellow">73%</h6>
      </div>
    </div>
  </div>
  <!-- project-ticket end -->
  <!-- ticket, proj, clent start -->
  <div class="col-xl-3 col-md-6">
    <div class="card ticket-card">
      <div class="card-body">
        <p class="m-b-25 bg-c-red lbl-card"><i class="fas fa-folder-open m-r-5"></i> Open Tickets</p>
        <div class="text-center">
          <h2 class="m-b-0 d-inline-block text-c-red">128</h2>
          <p class="m-b-0 d-inline-block">Tickets</p>
          <p class="m-b-0 m-t-10"><i class="fas fa-caret-down m-r-10 f-18 text-c-red"></i>From Previous Month</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card ticket-card">
      <div class="card-body">
        <p class="m-b-25 bg-c-blue lbl-card"><i class="fas fa-file-archive m-r-5"></i> Close Tickets</p>
        <div class="text-center">
          <h2 class="m-b-0 d-inline-block text-c-blue">134</h2>
          <p class="m-b-0 d-inline-block">Tickets</p>
          <p class="m-b-0 m-t-10"><i class="fas fa-caret-up m-r-10 f-18 text-c-blue"></i>From Previous Month</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card ticket-card">
      <div class="card-body">
        <p class="m-b-25 bg-c-green lbl-card"><i class="fas fa-users m-r-5"></i> New Clients</p>
        <div class="text-center">
          <h2 class="m-b-0 d-inline-block text-c-green">307</h2>
          <p class="m-b-0 d-inline-block">Clients</p>
          <p class="m-b-0 m-t-10"><i class="fas fa-caret-up m-r-10 f-18 text-c-green"></i>From Previous Month</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card ticket-card">
      <div class="card-body">
        <p class="m-b-25 bg-c-yellow lbl-card"><i class="fas fa-database m-r-5"></i> New Orders</p>
        <div class="text-center">
          <h2 class="m-b-0 d-inline-block text-c-yellow">231</h2>
          <p class="m-b-0 d-inline-block">Orders</p>
          <p class="m-b-0 m-t-10"><i class="fas fa-caret-up m-r-10 f-18 text-c-yellow"></i>From Previous Month</p>
        </div>
      </div>
    </div>
  </div>
  <!-- ticket, proj, clent end -->
  <!-- analytic card start -->
  <div class="col-xl-4 col-md-12">
    <div class="card analytic-card bg-c-green">
      <div class="card-body">
        <div class="row align-items-center m-b-25">
          <div class="col-auto">
            <i class="fas fa-shopping-cart text-c-green f-18 analytic-icon"></i>
          </div>
          <div class="col text-right">
            <h3 class="m-b-5 text-white">15,678</h3>
            <h6 class="m-b-0 text-white">Total Sales</h6>
          </div>
        </div>
        <p class="m-b-0  text-white d-inline-block">Total Income : </p>
        <h5 class=" text-white d-inline-block m-b-0 m-l-10">$2,451</h5>
        <h6 class="m-b-0 d-inline-block  text-white float-right"><i class="fas fa-caret-up m-r-10 f-18"></i>10%</h6>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card analytic-card bg-c-blue">
      <div class="card-body">
        <div class="row align-items-center m-b-25">
          <div class="col-auto">
            <i class="fas fa-users text-c-blue f-18 analytic-icon"></i>
          </div>
          <div class="col text-right">
            <h3 class="m-b-5 text-white">1,678</h3>
            <h6 class="m-b-0 text-white">Total Users</h6>
          </div>
        </div>
        <p class="m-b-0 text-white d-inline-block">Total Revenue : </p>
        <h5 class="text-white d-inline-block m-b-0 m-l-10">$2,451</h5>
        <h6 class="m-b-0 d-inline-block text-white float-right"><i class="fas fa-caret-up m-r-10 f-18"></i>30%</h6>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card analytic-card bg-c-red">
      <div class="card-body">
        <div class="row align-items-center m-b-25">
          <div class="col-auto">
            <i class="fas fa-file-code text-c-red f-18 analytic-icon"></i>
          </div>
          <div class="col text-right">
            <h3 class="m-b-5 text-white">15,678</h3>
            <h6 class="m-b-0 text-white">Total Project</h6>
          </div>
        </div>
        <p class="m-b-0 d-inline-block text-white">Active Projects : </p>
        <h5 class="text-white d-inline-block m-b-0 m-l-10">$2,451</h5>
        <h6 class="m-b-0 d-inline-block text-white float-right"><i class="fas fa-caret-down m-r-10 f-18"></i>10%</h6>
      </div>
    </div>
  </div>
  <!-- project-ticket end -->
  <!-- Center round user-card start -->
  <div class="col-md-6 col-xl-4">
    <div class="card">
      <div class="widget-profile-card-1">
        <img class="img-fluid" src="assets/images/widget/slider7.jpg" alt="card-style-1">
        <div class="middle-user">
          <img class="img-fluid img-thumbnail" src="assets/images/widget/img-round1.jpg" alt="Profile-user">
        </div>
      </div>
      <div class="card-body text-center">
        <h3>Lary Doe</h3>
        <p>Web Designer</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci a, rem accusantium recusandae beatae.
      </div>
      <div class="card-footer bg-inverse">
        <div class="row text-center">
          <div class="col">
            <h4>400</h4>
            <span>Designs</span>
          </div>
          <div class="col">
            <h4>90</h4>
            <span>Projects</span>
          </div>
          <div class="col">
            <h4>70</h4>
            <span>Devlopment</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Center round user-card end -->
  <!-- Roundless user card start -->
  <div class="col-md-6 col-xl-4">
    <div class="card widget-profile-card-2">
      <img class="img-fluid" src="assets/images/widget/slider5.jpg" alt="card-style-1">
      <div class="card-body text-center">
        <img class="img-fluid img-thumbnail img-radius user-img m-b-20 m-t-10" src="assets/images/widget/user-blur-bg.png" alt="Profile-user">
        <h3>Jenny Joe</h3>
        <p>Web Designer</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci a, rem accusantium recusandae beatae.
      </div>
    </div>
  </div>
  <!-- Roundless user card end -->
  <!-- Top round user-card start -->
  <div class="col-md-12 col-xl-4">
    <div class="card">
      <div class="widget-profile-card-3">
        <img class="img-fluid img-thumbnail" src="assets/images/widget/img-round1.jpg" alt="Profile-user">
      </div>
      <div class="card-body text-center">
        <h3>Sara Soudein</h3>
        <p>Web Designer</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci a, rem accusantium recusandae beatae.
      </div>
      <div class="card-footer bg-inverse">
        <div class="row text-center">
          <div class="col">
            <h4>400</h4>
            <span>Designs</span>
          </div>
          <div class="col">
            <h4>90</h4>
            <span>Projects</span>
          </div>
          <div class="col">
            <h4>70</h4>
            <span>Devlopment</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top round user-card end -->
  <!-- analytic card start -->
  <div class="col-xl-3 col-md-6">
    <div class="card social-res-card">
      <div class="card-header">
        <h5>Facebook Source</h5>
      </div>
      <div class="card-body">
        <p class="m-b-10">Page Profile</p>
        <div class="progress m-b-25">
          <div class="progress-bar progress-c-blue" style="width:25%"></div>
        </div>
        <p class="m-b-10">Favorite</p>
        <div class="progress m-b-25">
          <div class="progress-bar progress-c-blue" style="width:85%"></div>
        </div>
        <p class="m-b-10">Like Story</p>
        <div class="progress">
          <div class="progress-bar progress-c-blue" style="width:65%"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card social-res-card">
      <div class="card-header">
        <h5>Twitter Source</h5>
      </div>
      <div class="card-body">
        <p class="m-b-10">Wall Profile</p>
        <div class="progress m-b-25">
          <div class="progress-bar progress-c-red" style="width:85%"></div>
        </div>
        <p class="m-b-10">Favorite</p>
        <div class="progress m-b-25">
          <div class="progress-bar progress-c-red" style="width:25%"></div>
        </div>
        <p class="m-b-10">Like Tweets</p>
        <div class="progress">
          <div class="progress-bar progress-c-red" style="width:65%"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card social-res-card">
      <div class="card-header">
        <h5>Google+ Source</h5>
      </div>
      <div class="card-body">
        <p class="m-b-10">profile</p>
        <div class="progress m-b-25">
          <div class="progress-bar progress-c-green" style="width:65%"></div>
        </div>
        <p class="m-b-10">Connect</p>
        <div class="progress m-b-25">
          <div class="progress-bar progress-c-green" style="width:15%"></div>
        </div>
        <p class="m-b-10">Like News</p>
        <div class="progress">
          <div class="progress-bar progress-c-green" style="width:95%"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card social-res-card">
      <div class="card-header">
        <h5>Linkedin Source</h5>
      </div>
      <div class="card-body">
        <p class="m-b-10">Profile</p>
        <div class="progress m-b-25">
          <div class="progress-bar progress-c-yellow" style="width:45%"></div>
        </div>
        <p class="m-b-10">Connect</p>
        <div class="progress m-b-25">
          <div class="progress-bar progress-c-yellow" style="width:85%"></div>
        </div>
        <p class="m-b-10">Like Posts</p>
        <div class="progress">
          <div class="progress-bar progress-c-yellow" style="width:35%"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- project-ticket end -->
  <!-- peoduct statustic start -->
  <div class="col-xl-12">
    <div class="card product-progress-card">
      <div class="card-body">
        <div class="row pp-main">
          <div class="col-xl-3 col-md-6">
            <div class="pp-cont">
              <div class="row align-items-center m-b-20">
                <div class="col-auto">
                  <i class="fas fa-cube f-24 text-mute"></i>
                </div>
                <div class="col text-right">
                  <h2 class="m-b-0 text-c-blue">2476</h2>
                </div>
              </div>
              <div class="row align-items-center m-b-15">
                <div class="col-auto">
                  <p class="m-b-0">Total Product</p>
                </div>
                <div class="col text-right">
                  <p class="m-b-0 text-c-blue"><i class="fas fa-long-arrow-alt-up m-r-10"></i>64%</p>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar progress-c-blue" style="width:45%"></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="pp-cont">
              <div class="row align-items-center m-b-20">
                <div class="col-auto">
                  <i class="fas fa-tag f-24 text-mute"></i>
                </div>
                <div class="col text-right">
                  <h2 class="m-b-0 text-c-red">843</h2>
                </div>
              </div>
              <div class="row align-items-center m-b-15">
                <div class="col-auto">
                  <p class="m-b-0">New Orders</p>
                </div>
                <div class="col text-right">
                  <p class="m-b-0 text-c-red"><i class="fas fa-long-arrow-alt-down m-r-10"></i>34%</p>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar progress-c-red" style="width:75%"></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="pp-cont">
              <div class="row align-items-center m-b-20">
                <div class="col-auto">
                  <i class="fas fa-random f-24 text-mute"></i>
                </div>
                <div class="col text-right">
                  <h2 class="m-b-0 text-c-yellow">63%</h2>
                </div>
              </div>
              <div class="row align-items-center m-b-15">
                <div class="col-auto">
                  <p class="m-b-0">Conversion Rate</p>
                </div>
                <div class="col text-right">
                  <p class="m-b-0 text-c-yellow"><i class="fas fa-long-arrow-alt-up m-r-10"></i>64%</p>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar progress-c-yellow" style="width:65%"></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="pp-cont">
              <div class="row align-items-center m-b-20">
                <div class="col-auto">
                  <i class="fas fa-dollar-sign f-24 text-mute"></i>
                </div>
                <div class="col text-right">
                  <h2 class="m-b-0 text-c-green">41M</h2>
                </div>
              </div>
              <div class="row align-items-center m-b-15">
                <div class="col-auto">
                  <p class="m-b-0">Conversion Rate</p>
                </div>
                <div class="col text-right">
                  <p class="m-b-0 text-c-green"><i class="fas fa-long-arrow-alt-up m-r-10"></i>54%</p>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar progress-c-green" style="width:35%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- peoduct statustic end -->
  <!-- Social user card start -->
  <div class="col-md-6 col-xl-4">
    <div class="card borderless-card">
      <div class="profile-card">
        <img class="img-fluid" src="assets/images/widget/profile-person1.jpg" alt="">
        <div class="card-body">
          <h3 class="text-white">John Steve</h3>
          <p>UI/UX Designer at CreativesCastle Studio</p>
          <button class="btn btn-info ml-0 mr-0">+ Follow</button>
        </div>
      </div>
      <div class="card-footer bg-inverse">
        <div class="row text-center">
          <div class="col">
            <h4>134</h4>
            <span>Shots</span>
          </div>
          <div class="col">
            <h4>13,227</h4>
            <span>Shots</span>
          </div>
          <div class="col">
            <h4>488</h4>
            <span>Shots</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Social user card end -->
  <!-- Blur user-card start -->
  <div class="col-md-6 col-xl-4">
    <div class="card">
      <div class="card-body p-0">
        <div class="widget-main-card blur-user-card">
          <img class="img-fluid" src="assets/images/widget/user-blur-bg.png" alt="">
          <h3 class="text-white">Linda Fox</h3>
          <p>UI Designer at CreativesCastle Studio</p>
          <button class="btn btn-info m-t-30 ml-0 mr-0">+ Follow</button>
          <div class="mt-4 card-footer">
            <div class="row text-center">
              <div class="col">
                <h4 class="text-white">134</h4>
                <span>Shots</span>
              </div>
              <div class="col">
                <h4 class="text-white">13,227</h4>
                <span>Followers</span>
              </div>
              <div class="col">
                <h4 class="text-white">488</h4>
                <span>Following</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blur user-card end -->
  <!-- Weather card start -->
  <div class="col-md-6 col-xl-4">
    <div class="card borderless-card">
      <div class="weather-bg-card">
        <img class="img-fluid" src="assets/images/widget/weather-card-bg.png" alt="">
        <div class="card-body-big">
          <h5>New York , NY , USA</h5>
          <span class="d-block">Sunday , 6:00 AM</span>
        </div>
        <div class="card-body">
          <h1 class="weather-temp">8°</h1>
          <h5>Clear Today</h5>
        </div>
      </div>
      <div class="card-footer">
        <div class="row text-center">
          <div class="col">
            <h5>SUN</h5>
            <i class="fas fa-cloud weather-icon"></i>
            <span>18° 12°</span>
          </div>
          <div class="col">
            <h5>MON</h5>
            <i class="fab fa-mixcloud weather-icon"></i>
            <span>16° 13°</span>
          </div>
          <div class="col">
            <h5>TUE</h5>
            <i class="fab fa-soundcloud weather-icon"></i>
            <span>11° 7°</span>
          </div>
          <div class="col">
            <h5>WED</h5>
            <i class="fab fa-cloudversify weather-icon"></i>
            <span>21° 24°</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Weather card end -->
</div>
