<div class="row">
  <div class="col-xl-12">
    <div class="card-header_payment">
      <app-card cardTitle="Update Profile" [options]="false" blockClass="table-border-style">
        <div class="card shadow-none">
          <div class="card-body shadow border-0">
            <form #fform="ngForm">
              <div class="row">
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Profile Name</label>
                  <input class="form-control" autocomplete="off" name="ProfileName"
                    [(ngModel)]="ProfileName" type="text"/>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Currency Code</label>
                  <input class="form-control" autocomplete="off" name="CurrencyCode"
                    [(ngModel)]="CurrencyCode" type="text"/>
                </div>
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>Sale</label>
                  <select class="mb-2 form-control" [(ngModel)]="Sale" name="Sale">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>Pre Auth</label>
                  <select class="mb-2 form-control" [(ngModel)]="preauth" name="preauth">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>Pre Auth Compl</label>
                  <select class="mb-2 form-control" [(ngModel)]="preauthcom" name="preauthcom">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>Manual Entry</label>
                  <select class="mb-2 form-control" [(ngModel)]="mentry" name="mentry">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>TIP</label>
                  <select class="mb-2 form-control" [(ngModel)]="tip" name="tip">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>IPP</label>
                  <select class="mb-2 form-control" [(ngModel)]="ipp" name="ipp">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
              </div>
              <div class="row">
               
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>Rcpt</label>
                  <select class="mb-2 form-control" [(ngModel)]="rcpt" name="rcpt">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>GPN</label>
                  <select class="mb-2 form-control" [(ngModel)]="gpn" name="gpn">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>AmEx</label>
                  <select class="mb-2 form-control" [(ngModel)]="amex" name="amex">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>MasterCard</label>
                  <select class="mb-2 form-control" [(ngModel)]="mcard" name="mcard">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>Visa</label>
                  <select class="mb-2 form-control" [(ngModel)]="visa" name="visa">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>CUP</label>
                  <select class="mb-2 form-control" [(ngModel)]="cup" name="cup">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>Full Mask</label>
                  <select class="mb-2 form-control" [(ngModel)]="fullMask" name="fullMask">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <div>
                  <button type="submit" id="addbtn" class="btn select_custom_button"
                    (click)="UpdateInsertTMSProfileDetails()">Update</button>
                </div>
                <!-- <div>
                  <button type="reset" class="btn select_custom_button">Reset</button>
                </div> -->
              </div>
            </form>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>