<div class="row">
  <div class="col-xl-12">
    <div class="card-header_payment">
      <app-card cardTitle="Update MID" [options]="false" blockClass="table-border-style">
        <div class="card shadow-none">
          <div class="card-body shadow border-0">
            <form #fform="ngForm">
              <div class="row">
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>MID</label>
                  <input class="form-control" autocomplete="off" name="MID"
                    [(ngModel)]="MID" type="text"/>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Legal Name</label>
                  <input class="form-control" autocomplete="off" name="LegalName"
                    [(ngModel)]="LegalName" type="text"/>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>DBA Name</label>
                  <input class="form-control" autocomplete="off" name="DBAName"
                    [(ngModel)]="DBAName" type="text"/>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>City</label>
                  <input class="form-control" autocomplete="off" name="City"
                    [(ngModel)]="City" type="text"/>
                </div>
              
              </div>
              <div class="row">
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Country</label>
                  <input class="form-control" autocomplete="off" name="Country"
                    [(ngModel)]="Country" type="text"/>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Mobile Number</label>
                  <input class="form-control" autocomplete="off" name="MobileNumber"
                    [(ngModel)]="MobileNumber" type="text"/>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Postal Code</label>
                  <input class="form-control" autocomplete="off" name="PostalCode"
                    [(ngModel)]="PostalCode" type="text"/>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>MCC</label>
                  <input class="form-control" autocomplete="off" name="MCC"
                    [(ngModel)]="MCC" type="text"/>
                </div>
               
              </div>
              <div class="row">
                 <div class="col-sm-3 input-group-sm select_custom">
                  <label>Enabled</label>
                  <select class="mb-2 form-control" [(ngModel)]="Enabled" name="Enabled">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Start Hours</label>
                  <input class="form-control" autocomplete="off" name="StartHours"
                    [(ngModel)]="StartHours" type="text"/>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>End Hours</label>
                  <input class="form-control" autocomplete="off" name="EndHours"
                    [(ngModel)]="EndHours" type="text"/>
                </div>
                <!-- <div class="input-group-sm col-sm-3 mb-4">
                  <label>Super MID</label>
                  <input class="form-control" autocomplete="off" name="SuperMID"
                    [(ngModel)]="SuperMID" type="text"/>
                </div> -->
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>Super MID</label>
                  <select class="mb-2 form-control" [(ngModel)]="SuperMID" name="SuperMID">
                    <option value="GC0000000011111" selected>GC0000000011111</option>
                    <!-- <option value="N">No </option> -->
                  </select>
                </div>
              </div>
              <div class="row">
               <div class="input-group-sm col-sm-3 mb-4">
                 <label>Void PWD</label>
                 <input class="form-control" autocomplete="off" name="VoidPWD"
                   [(ngModel)]="VoidPWD" type="text"/>
               </div>
               <div class="input-group-sm col-sm-3 mb-4">
                <label>PAC PWD</label>
                <input class="form-control" autocomplete="off" name="PACPWD"
                  [(ngModel)]="PACPWD" type="text"/>
              </div>
             </div>
             <div class="d-flex justify-content-center">
              <div>
                <button type="submit" id="addbtn" class="btn select_custom_button" [disabled]="!MID || !DBAName || !LegalName"
                (click)="InsertMIDDetails()">Update</button>
              </div>
              <!-- <div>
                <button type="reset" class="btn select_custom_button">Reset</button>
              </div> -->
            </div>
            </form>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>