<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <div>
            <h5 class="card-title">Terminal ID </h5>
          </div>
          <div class="d-flex justify-content-end">
          <div> 
            <button class="btn btn-rounded btn-outline-info mt-1" (click)="addTID()"
              data-modal="modal-13"> Create TID </button>
          </div>
          <div class="h-list-header m-b-5">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search . . .">
              <div class="input-group-append">
                <span class="input-group-text"><i class='feather icon-search'></i></span>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>

      <div class="card-body row  custome_space">
        <div class="col-xl-12">
          <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>TID</th>
                        <th>MID</th>
                        <th>Enabled</th>
                        <th>Serial Number</th>
                        <th>TMK KCV</th>
                        <th>TAK KCV</th>
                        <th>Key Srnr</th>
                        <th>Profile Name</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let getTID of getTIDDetails | paginate: { itemsPerPage: 5, currentPage: appsTID}"
                        class="cursor_point; i as index">
                        <td>{{getTID.tid ? getTID.tid : '-'}}</td>
                        <td>{{getTID.mid ? getTID.mid : '-'}}</td>
                        <td>{{getTID.enabled ? getTID.enabled : '-'}}</td>
                        <td>{{getTID.serialnumber ? getTID.serialnumber : '-'}}</td>
                        <td>{{getTID.tmk_kcv ? getTID.tmk_kcv : '-'}}</td>
                        <td>{{getTID.tak_kcv ? getTID.tak_kcv : '-'}}</td>
                        <td>{{getTID.keysrnr ? getTID.keysrnr : '-'}}</td>
                        <td>{{getTID.profilename ? getTID.profilename : '-'}}</td>
                        <td>
                          <i class="fas fa-eye" (click)="viewTid(getTID)"  data-modal="modal-3"></i>&nbsp;&nbsp;&nbsp;
                          <i class="fas fa-pencil-alt" (click)="updateMid(getTID)"></i>
                          &nbsp;&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true" (click)="deleteTid(getTID,i)"></i>
                        </td>
                       </tr>
                    </tbody>
                  </table>

                </div>
                <div *ngIf="getTIDDetails?.length == 0">
                  <div class="text-center">
                    No Records Found
                  </div>

                </div>
                <div class="text-right">
                  <pagination-controls (pageChange)="appsTID = $event"></pagination-controls>
                </div>
             
        </div>
      </div>

    </div>
  </div>
</div>

<app-animation-modal tabindex="-1" [modalID]="'modal-3'" [modalClass]="'md-effect-1'">
  <div class="form_wrapper">
  <h3 class="popUpColor">View Details</h3>
  <div class="row mt-2">
  <div class="input-group-sm col-sm-3">
    <label>TID</label>
    <input class="form-control" autocomplete="off" name="TID" [(ngModel)]="TID" type="text" readonly />
  </div>
  <div class="input-group-sm col-sm-3 select_custom">
    <label>MID</label>
    <select class="mb-2 form-control" [(ngModel)]="MID" name="MID">
      <option value="Y" selected>Yes</option>
      <option value="N">No </option>
    </select>
  </div>
  <div class="input-group-sm col-sm-3 select_custom">
    <label>Enabled</label>
    <select class="mb-2 form-control" [(ngModel)]="Enabled" name="Enabled">
      <option value="Y" selected>Yes</option>
      <option value="N">No </option>
    </select>
  </div>
  <div class="input-group-sm col-sm-3">
    <label>Serial Number</label>
    <input class="form-control" autocomplete="off" name="SerialNumber" [(ngModel)]="SerialNumber" type="text" />
  </div>
  
  </div>
  <div class="row mt-3">
    <div class="input-group-sm col-sm-3">
      <label>TMK</label>
      <input class="form-control" autocomplete="off" name="TMK" [(ngModel)]="TMK" type="text" />
    </div>
    <div class="input-group-sm col-sm-3">
      <label>TMK KCV</label>
      <input class="form-control" autocomplete="off" name="TMKKCV" [(ngModel)]="TMKKCV" type="text" />
    </div>
    <div class="input-group-sm col-sm-3">
      <label>TAK</label>
      <input class="form-control" autocomplete="off" name="TAK" [(ngModel)]="TAK" type="text" />
    </div>
    <div class="col-sm-3 input-group-sm select_custom">
      <label>TAK KCV</label>
      <input class="form-control" autocomplete="off" name="TAKKCV" [(ngModel)]="TAKKCV" type="text" />
    </div>
  </div>
  <div class="row mt-3">
    
    <div class="input-group-sm col-sm-3">
      <label>Key Srnr</label>
      <input class="form-control" autocomplete="off" name="KeySrnr" [(ngModel)]="KeySrnr" type="text" />
    </div>
    <div class="col-sm-3 input-group-sm select_custom">
      <label>Profile Name</label>
      <select class="mb-2 form-control" [(ngModel)]="ProfileName" name="ProfileName">
        <option value="Y" selected>Yes</option>
        <option value="N">No </option>
      </select>
    </div>
  </div>
  
  <div class="d-flex justify-content-center mt-3">
    <div>
      <button type="button" (click)="closePopUpID()" class="btn btn-rounded btn-outline-info">Close</button>
    </div>
  </div>
  </div>
  </app-animation-modal>