.btn_view {
    padding: 1px 8px;
    border-radius: .25rem;
    margin-bottom: 5px;
    margin-right: 10px;
    transition: all .3s ease-in-out;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    background-color: #CC0F0F;
}
.btn {
    padding: 10px 20px;
    border-radius: 0.25rem;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.btn-outline-info {
    color: #fff;
    background-color: #CC0F0F;
    border-color: #CC0F0F;
    //padding: 10px 20px;
    padding: 4px 16px;
    border-radius: 0.25rem;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 6%;
}
.btn-rounded {
    border-radius: 30px;
}
.btn_view {
    padding: 1px 8px;
    border-radius: .25rem;
    margin-bottom: 5px;
    margin-right: 10px;
    transition: all .3s ease-in-out;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    background-color:#CC0F0F;
}
.btn_close{
    padding: 10px 20px;
    border-radius: 0.25rem;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 10px;
    font-family: inherit;
    /* margin-left: 10px; */
}.md-content button {
    display: block;
    margin: 0 auto;
    font-size: .8em;
}
.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #CC0F0F;
    color: #fefefe;
    cursor: default;
}
.custome_space {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 20px;
  }

  .card-header {
    background-color: transparent;
    border-bottom: 1px solid #e2e5e8;
    padding: 20px 25px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.select_custom {
    select.form-control:not([size]):not([multiple]) {
      height: calc(1.9rem + 2px);
    }
  }
pagination-controls /deep/ .ngx-pagination li.current {
    background-color:#CC0F0F !important;
  }
  .fa-trash {
    color:#CC0F0F;
    font-size:18px;
  }
  .fa-pencil-alt {
    color:#27AE60;
    font-size:18px;
  }
  .fa-eye{
      color: #2980B9;
      font-size:18px;
  }
  .icon-search{
    color:#CC0F0F;
  }

  .popUpColor{
    background: #CC0F0F;
  }