<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <div>
            <h5 class="card-title">Super MID </h5>
          </div>
          <div class="d-flex justify-content-end">
          <div> 
            <button class="btn btn-rounded btn-outline-info mt-1" (click)="addSuperMID()"
              data-modal="modal-13"> Create MID </button>
          </div>
          <div class="h-list-header m-b-5">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search . . .">
              <div class="input-group-append">
                <span class="input-group-text"><i class='feather icon-search'></i></span>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>

      <div class="card-body row  custome_space">
        <div class="col-xl-12">
          <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Legal Name</th>
                        <th>DBA Name</th>
                        <th>Address</th>
                        <th>Mobile Number</th>
                        <th>Email ID</th>
                        <th>Enabled</th>
                        <th>Super MID</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let superMID of getSuperMIDDetails | paginate: { itemsPerPage: 5, currentPage: appsQueryPagep}"
                        class="cursor_point; i as index">
                        <td>{{superMID.legalname ? superMID.legalname : '-'}}</td>
                        <td>{{superMID.dbaname ? superMID.dbaname : '-'}}</td>
                        <td>{{superMID.address ? superMID.address:'-'}}</td>
                        <td>{{superMID.mobilenumber?superMID.mobilenumber:'-'}}</td>
                        <td>{{superMID.emailid ? superMID.emailid : '-'}}</td>
                        <td>{{superMID.enabled ? superMID.enabled:'-'}}</td>
                        <td>{{superMID.supermid ? superMID.supermid : '-'}}</td>
                        <td>
                          <i class="fas fa-eye" (click)="viewSuperMID(superMID)" data-modal="modal-1"></i>&nbsp;&nbsp;&nbsp;
                          <i class="fas fa-pencil-alt" (click)="updateSuperMID(superMID)"></i>
                          &nbsp;&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true" (click)="deleteRow(superMID, i)"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                <div *ngIf="getSuperMIDDetails?.length == 0">
                  <div class="text-center">
                    No Records Found!
                  </div>

                </div>
                <div class="text-right">
                  <pagination-controls (pageChange)="appsQueryPagep = $event"></pagination-controls>
                </div>
             
        </div>
      </div>

    </div>
  </div>
</div>

<app-animation-modal tabindex="-1" [modalID]="'modal-1'" [modalClass]="'md-effect-1'">
  <div class="form_wrapper">
    <h3 class="popUpColor">View Details</h3>
    <div class="row mt-2">
      <div class="input-group-sm col-sm-3">
        <label>Legal Name</label>
        <input class="form-control" autocomplete="off" name="LegalName" [(ngModel)]="LegalName" type="text" readonly/>
      </div>
      <div class="input-group-sm col-sm-3">
        <label>DBA Name</label>
        <input class="form-control" autocomplete="off" name="DBAName" [(ngModel)]="DBAName" type="text" readonly/>
      </div>
      <div class="input-group-sm col-sm-3">
        <label>Address</label>
        <input class="form-control" autocomplete="off" name="Address" [(ngModel)]="Address" type="text" readonly/>
      </div>
      <div class="input-group-sm col-sm-3">
        <label>Mobile Number</label>
        <input class="form-control" autocomplete="off" name="MobileNumber" [(ngModel)]="MobileNumber" type="text" readonly />
      </div>
      </div>
      <div class="row mt-3">
        <div class="input-group-sm col-sm-3">
          <label>Email ID</label>
          <input class="form-control" autocomplete="off" name="EmailID" [(ngModel)]="EmailID" type="text" readonly/>
        </div>
        <div class="col-sm-3 input-group-sm select_custom">
          <label>Enabled</label>
          <select class="mb-2 form-control" [(ngModel)]="Enabled" name="Enabled" >
            <option value="Y" selected>Yes</option>
            <option value="N">No </option>
          </select>
        </div>
        <div class="input-group-sm col-sm-3">
          <label>Super MID</label>
          <input class="form-control" autocomplete="off" name="SuperMID" [(ngModel)]="SuperMID" type="text" readonly />
        </div>
      </div>
        <div class="d-flex justify-content-center mt-3">
          <div>
            <button type="button" (click)="closePopUp()" class="btn btn-rounded btn-outline-info">Close</button>
          </div>
        </div>
  </div>
</app-animation-modal>