.select_custom {
  select.form-control:not([size]):not([multiple]) {
    height: calc(1.9rem + 2px);
  }
}
.select_custom_button {
color: #fff;
  background-color:#CC0F0F;
  border-color:#CC0F0F;
  margin-top: 20px;

}
.custome_space {
flex: 0 0 100%;
max-width: 100%;
margin-top: 20px;
}.btn {
padding: 10px 20px;
border-radius: 0.25rem;
font-size: 14px;
margin-bottom: 5px;
margin-right: 10px;
margin-left: 3px;
}
.btn-rounded {
border-radius: 30px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
