<div class="row">
  <div class="col-xl-12">
    <div class="card-header_payment">
      <app-card cardTitle="View Super MID" [options]="false" blockClass="table-border-style">
        <div class="card shadow-none">
          <div class="card-body shadow border-0">
            <form #fform="ngForm" >
              <div class="row">
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Legal Name</label>
                  <input class="form-control" autocomplete="off" name="LegalName"
                    [(ngModel)]="LegalName" type="text"/>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>DBA Name</label>
                  <input class="form-control" autocomplete="off" name="DBAName"
                    [(ngModel)]="DBAName" type="text"/>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Address</label>
                  <input class="form-control" autocomplete="off" name="Address"
                    [(ngModel)]="Address" type="text"/>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Mobile Number</label>
                  <input class="form-control" autocomplete="off" name="MobileNumber"
                    [(ngModel)]="MobileNumber" type="text"/>
                </div>
              </div>
              <div class="row">
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Email ID</label>
                  <input class="form-control" autocomplete="off" name="EmailID"
                    [(ngModel)]="EmailID" type="text"/>
                </div>
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>Enabled</label>
                  <select class="mb-2 form-control" [(ngModel)]="Enabled" name="Enabled">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Super MID</label>
                  <input class="form-control" autocomplete="off" name="SuperMID"
                    [(ngModel)]="SuperMID" type="text"/>
                </div>
               
              </div>
              <div class="row">
                <div class="input-group-sm select_custom col-xl-12">
                  <button type="submit" id="addbtn" class="btn select_custom_button">Back</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>