// npm menu start

.pcoded-navbar {
  .pcoded-inner-navbar {
    li {
      &.active,
      &:focus,
      &:hover {
        > a {
          color: $primary-color;
        }
      }

      .pcoded-submenu > app-nav-item > li {
        &.active,
        &:focus,
        &:hover {
          > a {
            &:before {
              background: $primary-color;
            }
          }
        }
      }
    }

    li.pcoded-hasmenu .pcoded-submenu {
      li {
        &.pcoded-trigger,
        &:hover,
        .pcoded &.active {
          > a:before {
            background-color: $primary-color;
          }
        }

        .pcoded-submenu > app-nav-item > li > a {
          padding: 7px 7px 7px 80px;
        }
      }
    }

    app-nav-group > app-nav-collapse > li,
    app-nav-group > app-nav-item > li {
      &.active,
      &.pcoded-trigger {
        &:after {
          content: "";
          background-color: $primary-color;
          z-index: 1027;
          position: absolute;
          left: 0;
          top: 5px;
          width: 3px;
          height: calc(100% - 5px);
        }

        > a {
          background: darken($menu-dark-background,4%);
          color: #fff;
        }
      }

      &.pcoded-trigger,
      &:hover,
      .pcoded &.active {
        &:after {
          content: "";
          background-color: $primary-color;
          z-index: 1027;
          position: absolute;
          left: 0;
          top: 5px;
          width: 3px;
          height: calc(100% - 5px);
        }

        > a {
          background: darken($menu-dark-background,4%);
          color: #fff;
        }
      }
    }
  }

  &:not([class*="menu-item-icon-style"]) {
    .pcoded-inner-navbar {
      li {
        .pcoded-submenu > app-nav-item > li {
          &.active,
          &:focus,
          &:hover {
            > a {
              &:before {
                background: $primary-color;
              }
            }
          }
        }
      }
    }
  }

  &.navbar-collapsed {
    .pcoded-inner-navbar {
      .pcoded-menu-caption {
        &:after {
          width: 40px;
        }
      }

      > app-nav-group > app-nav-item > li,
      > app-nav-group > app-nav-collapse > li {
        > a {
          padding: 7px 20px;
          width: $Menu-collapsed-width;
          transition: all 0.3s ease-in-out;

          > .pcoded-micon + .pcoded-mtext {
            position: absolute;
            top: 11px;
          }

          > .pcoded-mtext {
            transform: rotateY(-90deg);
            transform-origin: 0 0;
            opacity: 0;
            transition: all 0.3s ease-in-out;
          }
        }

        &.pcoded-hasmenu {
          > a {
            &:after {
              right: 12px;
            }
          }

          .pcoded-submenu {
            display: none;
          }
        }
      }

      > app-nav-group > app-nav-item > li,
      > app-nav-group > app-nav-collapse > li {
        &.pcoded-trigger {
          .pcoded-submenu {
            &:after {
              content: "";
              position: absolute;
              top: 50px;
              left: calc(calc(#{$Menu-collapsed-width} / 2) + 2px);
              width: 1px;
              height: calc(100% - 50px);
              background: transparentize($menu-dark-text-color,0.8);
            }

            li {
              a {
                color: transparent;
                white-space: nowrap;
              }
            }

            .pcoded-submenu {
              li {
                a:before {
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }

    &:hover {
      .pcoded-inner-navbar {
        > app-nav-group > app-nav-item > li,
        > app-nav-group > app-nav-collapse > li {
          > a {
            width: 100%;

            > .pcoded-mtext {
              transform: rotateY(0deg);
              opacity: 1;

              &:after {
                opacity: 1;
                visibility: visible;
              }
            }
          }

          &.pcoded-hasmenu {
            > a {
              &:after {
                transform: rotateX(0deg);
              }
            }

            &.pcoded-trigger {
              > a {
                &:after {
                  transform: rotateX(0deg) rotate(90deg);
                }
              }
            }
          }
        }

        > app-nav-group > app-nav-item > li,
        > app-nav-group > app-nav-collapse > li {
          &.pcoded-trigger {
            .pcoded-submenu {
              &:after {
                display: none;
              }

              li {
                a {
                  color: inherit;
                }
              }

              .pcoded-submenu {
                li {
                  a:before {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.theme-horizontal {
    &.menu-light {
      .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.pcoded-hasmenu.active:before,
      .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.pcoded-hasmenu.pcoded-trigger:before,
      .pcoded-inner-navbar app-nav-item > li.pcoded-hasmenu.active:before,
      .pcoded-inner-navbar app-nav-item > li.pcoded-hasmenu.pcoded-trigger:before {
        color: #fff;
      }
    }

    .pcoded-inner-navbar {
      > app-nav-item,
      > app-nav-collapse {
        position: relative;
        display: inline-block;
        list-style: outside none none;
      }

      > app-nav-group > app-nav-collapse > li,
      app-nav-item > li {
        display: inline-block;
        list-style: outside none none;
        margin: 0;
        padding: 0;
        position: relative;

        > a {
          margin: 0;
          padding: 8px 15px;

          > .pcoded-mtext {
            position: relative;
            top: 0;
            margin-right: 5px;
          }

          &:after {
            position: relative;
            top: 0;
            right: 0;
          }
        }

        &.active,
        &.pcoded-trigger,
        &:hover {
          a {
            box-shadow: none;
            color: #fff;
            background: transparent;
          }
        }

        &.pcoded-hasmenu {
          &.active,
          &.pcoded-trigger {
            &:before {
              content: "\6d";
              position: absolute;
              bottom: -34px;
              left: 0;
              font-family: "pct";
              z-index: 1001;
              font-size: 50px;
              line-height: 1;
              padding-left: calc(50% - 25px);
              color: $menu-dark-background;
              text-shadow: 0 3px 4px rgba(69, 90, 100, 0.05);
              width: 100%;
              height: 40px;
              transform: scaleX(1.2);
            }

            > .pcoded-submenu {
              margin-top: 30px;
            }
          }
        }

        &.active,
        &.pcoded-trigger {
          &:after {
            content: "";
            background-color: #1dc4e9;
            z-index: 1027;
            position: absolute;
            left: 19px;
            top: auto;
            bottom: 5px;
            width: 23px;
            height: 2px;
          }
        }

        &.pcoded-hasmenu.edge {
          > .pcoded-submenu {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}
// npm menu end
//=========================================================================================
//=========================================================================================
//                                  Angulr
//=========================================================================================
//=========================================================================================

app-nav-group {
  app-nav-collapse {
    > li {
      overflow: hidden;

      > a {
        z-index: 999;
        // background: darken($header-dark-background, 3%);
        // margin: 0 !important;
      }
    }
  }

  > app-nav-collapse {
    > li {
      overflow: hidden;

      > a {
        z-index: 999;
        // background: $menu-dark-background;
        // margin: 0 !important;
      }
    }
  }
}

.navbar-collapsed:hover .mobile-menu {
  transform: rotateY(0deg) !important;
  opacity: 1 !important;
}

.brand-default .b-brand .b-bg {
  color: #fff;

  i {
    color: #fff;
    background-image: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: unset;
  }
}

.pcoded-navbar {
  &.menu-light {
    .pcoded-inner-navbar app-nav-item > li.nav-item.active > a,
    .pcoded-inner-navbar app-nav-item > li.nav-item.pcoded-trigger > a {
      background: #f1f1f1;
      color: #111;
    }
  }

  &.navbar-collapsed {
    .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.pcoded-hasmenu .pcoded-submenu,
    .pcoded-inner-navbar app-nav-item > li.pcoded-hasmenu .pcoded-submenu {
      display: block;
    }
  }

  .pcoded-inner-navbar {
    app-nav-item > li.active:after {
      top: 0 !important;
      height: 100% !important;
    }

    li {
      &.pcoded-hasmenu {
        position: relative;

        .pcoded-submenu {
          opacity: 0;
          visibility: hidden;
          transform-origin: 50% 50%;
          transition: transform 0.3s, opacity 0.3s;
          transform-style: preserve-3d;
          transform: rotateX(-90deg);
          position: absolute;
          display: block;
        }

        &.pcoded-trigger {
          > .pcoded-submenu {
            position: relative;
            opacity: 1;
            visibility: visible;
            transform: rotateX(0deg);
          }
        }
      }
    }
  }
}
//============   horizontal menu   =================

.pcoded-navbar {
  &.menu-light {
    .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.active > a,
    .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.active a,
    .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.pcoded-trigger > a,
    .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.pcoded-trigger a,
    .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li:hover a,
    .pcoded-inner-navbar app-nav-item > li.active a,
    .pcoded-inner-navbar app-nav-item > li.pcoded-trigger a,
    .pcoded-inner-navbar app-nav-item > li:hover a {
      background: transparent;
      color: #111;
    }
  }

  &.menu-light {
    .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.active > a,
    .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.pcoded-trigger > a {
      background: #f1f1f1 !important;
      color: #111 !important;
    }
  }

  &.theme-horizontal {
    .badge{
      display: none !important;
    }
    &.menu-light {
      .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.active > a,
      .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.pcoded-trigger > a,
      .pcoded-inner-navbar > app-nav-group > app-nav-item > li.active > a,
      .pcoded-inner-navbar > app-nav-group > app-nav-item > li.pcoded-trigger > a {
        background: transparent !important;
        color: #111 !important;
      }

      &.navbar-blue,
      &.navbar-dark,
      &.navbar-lightblue,
      &.navbar-purple,
      &.navbar-red {
        .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.active > a,
        .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.pcoded-trigger > a,
        .pcoded-inner-navbar > app-nav-group > app-nav-item > li.active > a,
        .pcoded-inner-navbar > app-nav-group > app-nav-item > li.pcoded-trigger > a {
          background: transparent !important;
          color: #fff !important;
        }
      }

      .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.active a,
      .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.pcoded-trigger a,
      .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li:hover a,
      .pcoded-inner-navbar app-nav-item > li.active a,
      .pcoded-inner-navbar app-nav-item > li.pcoded-trigger a,
      .pcoded-inner-navbar app-nav-item > li:hover a {
        background: transparent;
        color: $menu-light-text-color;
      }
    }

    .pcoded-mtext {
      z-index: -1;
    }

    ~.pcoded-header header {
      display: flex;
      align-items: center;
    }

    .sidenav-horizontal-wrapper {
      height: $header-height;
      flex: 0 1 100%;
      width: 0;

      app-nav-group {
        display: inline-flex;
      }

      app-nav-group > app-nav-collapse > li,
      app-nav-group app-nav-collapse > li {
        overflow: visible;
      }

      .pcoded-inner-navbar .pcoded-hasmenu {
        .pcoded-submenu {
          opacity: 0;
          visibility: hidden;
          transform-origin: 50% 50%;
          transition: transform 0.3s, opacity 0.3s;
          transform-style: preserve-3d;
          transform: rotateX(-90deg);
          position: absolute;
          min-width: 250px;
          display: block;
          z-index: 1;
          top: 100%;
          list-style: outside none none;
          margin: 0;
          border-radius: 4px;
          padding: 15px;
          box-shadow: 0 4px 24px 0 rgba(62, 57, 107, 0.18);
          background: #fff;

          .pcoded-submenu {
            left: calc(100% + 30px);
            top: -10px;
          }

          li {
            display: block;

            &:after {
              display: none;
            }
          }
        }

        &.pcoded-trigger {
          > .pcoded-submenu {
            opacity: 1;
            visibility: visible;
            transform: rotateX(0deg);
          }
        }
      }
    }

    .pcoded-inner-navbar {
      app-nav-item > li {
        &.active:after,
        &.pcoded-trigger:after {
          top: auto !important;
          height: 2px !important;
        }
      }
    }
  }
}
// ====== [ Active Color start ] ========

.pcoded-navbar {
  @each $value in $color-active-name {
    $i: index($color-active-name, $value);

    &[class*="menu-item-icon-style"] {
      .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li.active > a:before {
        color: $primary-color;
      }
    }

    &.active-#{$value} {
      &[class*="menu-item-icon-style"] {
        .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li.active > a:before {
          color: nth($color-active-color,$i);
        }
      }

      .pcoded-inner-navbar {
        > app-nav-group > app-nav-collapse li {
          &.active,
          &:focus,
          &:hover {
            > a {
              color: nth($color-active-color,$i);
            }
          }

          .pcoded-submenu > app-nav-item li {
            &.active,
            &:focus,
            &:hover {
              > a {
                &:before {
                  background: nth($color-active-color,$i);
                }
              }
            }
          }
        }

        > app-nav-group > app-nav-collapse > li {
          &.active,
          &.pcoded-trigger {
            &:after {
              background-color: nth($color-active-color,$i);
            }

            > a {
              background: darken($header-dark-background,6%);
              color: #fff;
            }
          }
        }
      }

      &.menu-light {
        .pcoded-inner-navbar {
          > li {
            &.active,
            &.pcoded-trigger {
              > a {
                background: #f1f1f1;
                color: #111;
              }
            }
          }
        }
      }
      // horizontal-layout
      &.theme-horizontal {
        .pcoded-inner-navbar {
          > li {
            &,
            &.pcoded-hasmenu {
              &.active,
              &.pcoded-trigger,
              &:hover {
                > a {
                  background: transparent;
                }
              }

              .pcoded-submenu > li {
                &.active,
                &.pcoded-trigger,
                &:hover {
                  > a {
                    color: nth($color-active-color,$i);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// ====== [ Active Color end ] ========
/* ====== [ Menu color start ] ======== */

.pcoded-navbar {
  @each $value in $color-menu-name {
    $i: index($color-menu-name, $value);

    &.navbar-#{$value} {
      background: nth($color-menu-color,$i);

      .pcoded-inner-navbar {
        li {
          .pcoded-submenu > li {
            &.active,
            &:focus,
            &:hover {

              > a {
                &:before {
                  background: #fff;
                }
              }
            }
          }
        }

        > app-nav-group > app-nav-collapse > li {
          &.active,
          &.pcoded-trigger,
          &:hover {
            &:after {
              background: rgba(0, 0, 0, 0.25);
            }

            > a {
              background: rgba(0,0,0,0.08);
              color: #fff;
              box-shadow: none;
            }
          }
        }
      }
      &.theme-horizontal .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.pcoded-hasmenu:hover:before,
      &.theme-horizontal .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.pcoded-hasmenu.active:before,
      &.theme-horizontal .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.pcoded-hasmenu.pcoded-trigger:before,
      &.theme-horizontal .pcoded-inner-navbar app-nav-item > li.pcoded-hasmenu:hover:before,
      &.theme-horizontal .pcoded-inner-navbar app-nav-item > li.pcoded-hasmenu.active:before,
      &.theme-horizontal .pcoded-inner-navbar app-nav-item > li.pcoded-hasmenu.pcoded-trigger:before{
        color:nth($color-menu-color,$i);
      }
    }
  }
}
/* ====== [ Menu color end ] ======== */
/* ====== [ Menu background pattern start ] ======== */
.pcoded-navbar {
  &[class*="navbar-pattern"] {
    &.brand-default {
      .header-logo {
        background: transparent;
      }
    }

    .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li {
      &.active > a,
      &.pcoded-trigger > a,
      &:hover > a {
        background: transparentize(darken($menu-dark-background,6%),.60);
      }
    }
  }
}
/* ====== [ Menu background pattern end ] ========== */
/* ====== [ Menu background images start ] ======== */

.pcoded-navbar {
  &[class*="navbar-image"] {
    &.brand-default {
      .header-logo {
        background: transparent;
      }
    }

    .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li {
      &.active > a,
      &.pcoded-trigger > a,
      &:hover > a {
        background: transparentize(darken($menu-dark-background,6%),.60);
      }
    }
  }
}
/* ====== [ Menu background images end ] ========== */
/* ====== [ Menu gradient color start ] ======== */
.pcoded-navbar {
  @each $value in $color-menu-gradient-name {
    $i: index($color-menu-gradient-name, $value);

    &.navbar-gradient-#{$value}:not([class*="menu-item-icon-style"]) {
      .pcoded-inner-navbar {
        li {
          a {
            color: #fff;
          }

          &.active,
          &:focus,
          &:hover {
            > a {
              color: #fff;
            }
          }

          .pcoded-submenu li {
            &.active,
            &:focus,
            &:hover {
              > a {
                &:before {
                  background: #fff;
                }
              }
            }
          }
        }

        > app-nav-group > app-nav-item > li,
        > app-nav-group > app-nav-collapse > li {
          &.active,
          &.pcoded-trigger,
          &:hover {
            &:after {
              background: rgba(0, 0, 0, 0.25);
            }

            > a {
              background: rgba(0,0,0,0.08);
              color: #fff;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
/* ====== [ Menu gradient color end ] ======== */
/* ====== [ Menu icon start ] ======== */

.pcoded-navbar.icon-colored {
  .pcoded-inner-navbar > app-nav-group {
    $flg: 1;
    @for $k from 1 through 8 {
      @each $value in $menu-icon-color {
        > app-nav-collapse:nth-child(#{$flg}) > li > a > .pcoded-micon,
        > app-nav-item:nth-child(#{$flg}) > li > a > .pcoded-micon {
          color: $value;
        }
        $flg: $flg+1;
      }
    }

    > app-nav-group > app-nav-collapse > li.pcoded-trigger > a > .pcoded-micon,
    > app-nav-group > app-nav-collapse > li.active > a > .pcoded-micon {
      color: #fff;
    }
  }

  &.menu-light {
    .pcoded-inner-navbar {
      > app-nav-group > app-nav-collapse > li.pcoded-trigger > a > .pcoded-micon,
      > app-nav-group > app-nav-collapse > li.active > a > .pcoded-micon {
        color: $menu-light-text-color;
      }
    }
  }
}
.pcoded-navbar.theme-horizontal[class*="menu-item-icon-style"] .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li > a:before{
  left: 5px;
  top: 10px;
}
/* ====== [ Menu icon end ] ======== */
/* ===================================================================================================
 ==========================    Diffrent types of NAvbar Layout Styles end     ======================
 =================================================================================================== */

body {
  &.layout-1 {
    .ps-content {
      height: 100%;
    }

    .pcoded-navbar {
      // .pcoded-navbar .pcoded-inner-navbar app-nav-group > app-nav-collapse > li.pcoded-trigger:after,
      // .pcoded-navbar .pcoded-inner-navbar app-nav-group > app-nav-collapse > li:hover:after,
      // .pcoded .pcoded-navbar .pcoded-inner-navbar app-nav-group > app-nav-collapse > li.active:after,
      // .pcoded-navbar .pcoded-inner-navbar app-nav-group > app-nav-item > li.pcoded-trigger:after,
      // .pcoded-navbar .pcoded-inner-navbar app-nav-group > app-nav-item > li:hover:after,
      // .pcoded .pcoded-navbar .pcoded-inner-navbar app-nav-group > app-nav-item > li.active:after{
      //
      // }
      .toggle-sidemenu {
        position: fixed;
        bottom: 0;
        left: 0;
        background: darken($menu-dark-background,10%);
        width: 40px;
        height: 40px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 5px 0 0;
      }
      @media only screen and (max-width: 991px) {
        .toggle-sidemenu {
          display: none;
        }

        &.mob-open .toggle-sidemenu {
          display: flex;
        }
      }

      &.navbar-collapsed {
        .toggle-sidemenu {
          display: none;
        }

        .pcoded-inner-navbar > li.pcoded-trigger .pcoded-submenu li a {
          white-space: normal;
        }
      }

      .header-logo {
        padding: 10px 20px;
      }

      .sidemenu {
        li {
          position: relative;

          a {
            font-size: 22px;
            padding: 10px 24px;
            position: relative;
            cursor: pointer;

            &:after {
              content: "";
              position: absolute;
              height: 1px;
              width: 60%;
              left: 20%;
              bottom: 0;
              border-bottom: 1px solid rgba(181, 189, 202, 0.2);
            }

            span {
              display: none;
            }
          }

          &:last-child {
            a {
              &:after {
                display: none;
              }
            }
          }

          &.active {
            color: nth($color-active-color,1);

            &:after {
              content: "";
              background-color: nth($color-active-color,1);
              z-index: 1027;
              position: absolute;
              right: 0;
              top: 0;
              width: 3px;
              height: 100%;
            }
          }
        }
        box-shadow: inset -1px 0 0 0 transparentize($menu-dark-text-color,0.8);
      }

      .layout1-nav {
        display: flex;
        align-items: stretch;
        height: auto;
        min-height: 100%;
      }

      .side-content {
        flex: 1 1 0;

        .sidelink {
          display: none;

          &.active {
            display: block;
          }

          .pcoded-inner-navbar {
            li {
              &.pcoded-menu-caption {
                font-size: 20px;
                padding: 16px 15px 16px 18px;

                &:after {
                  content: "";
                  position: absolute;
                  height: 1px;
                  width: 40px;
                  left: 18px;
                  bottom: 13px;
                  border-bottom: 1px solid rgba(181, 189, 202, 0.2);
                }
              }

              &.pcoded-hasmenu {
                .pcoded-submenu li > {
                  a {
                    padding: 7px 7px 7px 40px;

                    &:before {
                      left: 20px;
                    }
                  }

                  .pcoded-submenu > app-nav-item > li > a {
                    padding: 7px 7px 7px 60px;

                    &:before {
                      left: 40px;
                    }
                  }
                }
              }
            }

            app-nav-group > app-nav-collapse > li,
            app-nav-group > app-nav-item > li {
              > a {
                padding: 12px 10px 12px 20px;

                .pcoded-micon {
                  display: none;
                }

                .pcoded-mtext {
                  position: relative;
                  top: 0;
                }
              }

              &.active,
              &.pcoded-trigger,
              &:hover {
                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }

      &.hide-sidemenu {
        .sidemenu {
          position: absolute;
          left: -#{$Menu-collapsed-width};
        }

        .toggle-sidemenu i {
          transform: rotate(180deg);
        }
      }

      &.menu-light {
        .toggle-sidemenu {
          background: #f1f1f1;
        }
      }
    }

    &.box-layout {
      .pcoded-navbar .toggle-sidemenu {
        display: none;
      }
    }
  }

  &.layout-2 {
    .pcoded-navbar {
      a {
        color: rgba(255,255,255,0.85);
      }

      .pcoded-submenu {
        background-color: rgba(0,0,0,0.05);

        .pcoded-submenu {
          background-color: transparent;
        }
      }

      &.navbar-collapsed {
        .pcoded-inner-navbar > li.pcoded-trigger .pcoded-submenu:after {
          display: none;
        }

        &:hover {
          .pcoded-inner-navbar > li > a > .pcoded-micon + .pcoded-mtext {
            top: 25px;
          }

          .pcoded-inner-navbar > li.pcoded-trigger .pcoded-submenu li a {
            color: rgba(255,255,255,0.85);
          }
        }
      }

      .pcoded-inner-navbar {
        .pcoded-menu-caption {
          display: none;
        }

        > app-nav-group > app-nav-item > li,
        > app-nav-group > app-nav-collapse > li {
          > a {
            padding: 20px 15px 20px 20px;
            margin-top: 0;
            border-bottom: 1px solid rgba(0,0,0,0.08);
          }

          &.pcoded-hasmenu > a:after {
            top: 25px;
          }

          &.active,
          &.pcoded-trigger,
          &:hover {
            &:after {
              display: none;
            }

            > a {
              background-color: rgba(0,0,0,0.08);
            }
          }
        }

        li {
          &.active,
          &:focus,
          &:hover {
            > a {
              color: #fff;
            }
          }

          .pcoded-submenu {
            li {
              &.active,
              &:focus,
              &:hover {
                > a {
                  &:before {
                    background: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.layout-3 {
    .pcoded-header {
      box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
    }

    .pcoded-navbar {
      &.menu-light {
        box-shadow: inset -1px 0 0 0 rgba(100, 121, 143, 0.122);

        .pcoded-submenu {
          background: transparent;
        }

        .pcoded-inner-navbar {
          > app-nav-group > app-nav-collapse > li,
          > app-nav-group > app-nav-item > li {
            &.pcoded-menu-caption {
              &:after {
                content: "";
                position: absolute;
                top: 10px;
                left: 20px;
                height: 1px;
                width: calc(100% - 40px);
                box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
              }

              &:first-child {
                &:after {
                  display: none;
                }
              }
            }

            > a {
              border-radius: 0 20px 20px 0;
              margin-right: 15px;
              padding: 4px 15px;

              &:after {
                top: 8px;
                right: 15px;
              }
            }

            &.active,
            &.pcoded-trigger,
            &:hover {
              > a {
                background: rgba(33, 150, 243, 0.15) !important;
                color: #2196f3 !important;
              }
            }
          }
        }
      }

      &.navbar-collapsed {
        .pcoded-inner-navbar {
          > li {
            > a {
              margin-right: 8px;

              &:after {
                top: 8px;
                right: 15px;
              }
            }
          }
        }

        &:hover {
          .pcoded-inner-navbar > li > a > .pcoded-micon + .pcoded-mtext {
            top: 9px;
          }
        }
      }
      @each $value in $color-active-name {
        $i: index($color-active-name, $value);

        &.active-#{$value} {
          .pcoded-inner-navbar {
            > app-nav-group > app-nav-collapse > li,
            > app-nav-group > app-nav-item > li {
              &.active,
              &.pcoded-trigger {
                > a {
                  background: transparentize(nth($color-active-color,$i),0.85) !important;
                  color: nth($color-active-color,$i) !important;
                }
              }
            }
          }
        }
      }
    }

    .card {
      box-shadow: 0 0 0 1px rgba(100, 121, 143, 0.122);
      transition: all 0.25s ease-in-out;

      &:hover {
        box-shadow: 0 0 0 1px rgba(100, 121, 143, 0.122), 0 2px 1px rgba(0, 0, 0, 0.05);
      }
    }
  }

  &.layout-3 {
    .pcoded-header {
      box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
    }

    .pcoded-navbar {
      &.menu-light {
        box-shadow: inset -1px 0 0 0 rgba(100, 121, 143, 0.122);

        .pcoded-submenu {
          background: transparent;
        }

        .pcoded-inner-navbar {
          > app-nav-group > app-nav-collapse > li,
          > app-nav-group > app-nav-item > li {
            &.pcoded-menu-caption {
              &:after {
                content: "";
                position: absolute;
                top: 10px;
                left: 20px;
                height: 1px;
                width: calc(100% - 40px);
                box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
              }

              &:first-child {
                &:after {
                  display: none;
                }
              }
            }

            > a {
              border-radius: 0 20px 20px 0;
              margin-right: 15px;
              padding: 4px 15px;

              &:after {
                top: 8px;
                right: 15px;
              }
            }

            &.active,
            &.pcoded-trigger,
            &:hover {
              > a {
                background: rgba(33, 150, 243, 0.15) !important;
                color: #2196f3 !important;
              }
            }
          }
        }
      }

      &.navbar-collapsed {
        .pcoded-inner-navbar {
          > li {
            > a {
              margin-right: 8px;

              &:after {
                top: 8px;
                right: 15px;
              }
            }
          }
        }

        &:hover {
          .pcoded-inner-navbar > li > a > .pcoded-micon + .pcoded-mtext {
            top: 9px;
          }
        }
      }
      @each $value in $color-active-name {
        $i: index($color-active-name, $value);

        &.active-#{$value} {
          .pcoded-inner-navbar {
            > app-nav-group > app-nav-collapse > li,
            > app-nav-group > app-nav-item > li {
              &.active,
              &.pcoded-trigger {
                > a {
                  background: transparentize(nth($color-active-color,$i),0.85) !important;
                  color: nth($color-active-color,$i) !important;
                }
              }
            }
          }
        }
      }
    }

    .card {
      box-shadow: 0 0 0 1px rgba(100, 121, 143, 0.122);
      transition: all 0.25s ease-in-out;

      &:hover {
        box-shadow: 0 0 0 1px rgba(100, 121, 143, 0.122), 0 2px 1px rgba(0, 0, 0, 0.05);
      }
    }
  }

  &.layout-4 {
    .pcoded-navbar {
      &.menu-light {
        perfect-scrollbar {
          background: $menu-light-background;
        }
      }
    }
  }

  &.layout-12 {
    .pcoded-navbar {
      @media only screen and (min-width: 992px) {
        .pcoded-inner-navbar {
          .pcoded-submenu {
            background: transparent;
          }

          > app-nav-group > app-nav-item > li,
          > app-nav-group > app-nav-collapse > li {
            &.active,
            &.pcoded-trigger,
            &:hover {
              > a {
                background: transparent !important;
              }

              &:after {
                display: none;
              }
            }
          }
        }

        ~ .pcoded-main-container {
          box-shadow: -20px 0 20px -20px rgba(204, 205, 206, 0.4);
          background: #fff;
        }

        &.mob-open,
        &.navbar-collapsed:hover {
          ~.pcoded-header,
          ~.pcoded-main-container {
            margin-left: $Menu-width;

            &:before {
              background: transparent;
            }
          }

          ~.pcoded-header {
            width: calc(100% - #{$Menu-width});
          }
        }
      }

      .header-logo {
        margin-right: 0;
        background: transparent;
        box-shadow: none;

        .mobile-menu {
          span {
            background-color: transparentize($header-light-text-color,0.2);

            &:after,
            &:before {
              background-color: transparentize($header-light-text-color,0.2);
            }
          }

          &:hover {
            span {
              background-color: $header-light-text-color;

              &:after,
              &:before {
                background-color: $header-light-text-color;
              }
            }
          }

          &.on {
            span {
              background-color: transparent;
            }
          }
        }

        .b-brand .b-title {
          color: $header-light-text-color;
        }
      }

      &.navbar-collapsed {
        .header-logo {
          background: transparent;
        }
      }
      // brand color
      &[class*="brand-"]:not(.brand-default) {
        .mobile-menu {
          span,
          span:after,
          span:before {
            background: #fff;
          }

          &.on span {
            background: transparent;
          }
        }

        .header-logo .b-brand .b-title {
          color: #fff;
        }

        .b-bg {
          background: #fff;
          color: nth($color-header-color,1);
        }
      }
      @each $value in $color-header-name {
        $i: index($color-header-name, $value);

        &.brand-#{$value} .header-logo,
        &.menu-light.brand-#{$value} .header-logo,
        &[class*="navbar-"].brand-#{$value} .header-logo {
          background: nth($color-header-color,$i);
        }

        &.brand-#{$value}:before {
          background: transparentize(nth($color-header-color,$i),0.9);
        }
      }
    }
  }
}
