<div class="login_wrapper">
  <div class="login_card">
      <p class="heading">Login</p>
      <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" [(ngModel)]="username" id="username" placeholder="Enter username" name="username" required autocomplete="off" />
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter password" name="password" required autocomplete="off" />
      </div>
      <div class="button_wrapper text-center">
          <button type="button" class="btn btn-danger btn-submit w-100" (click)="loginSubmit()">Submit</button>
      </div>
  </div>
</div>
