.login_wrapper{
    display: flex;
    justify-content: center;
    height: 95vh;
    background: #f5f9fc;
    position: relative;
    .login_card{
        margin: auto 0px;
        max-height: 300px;
        min-width: 500px;
        padding: 20px;
        box-shadow: 0px 5px 25px #52575D1A;
        border-radius: 10px;
        opacity: 1;
        background: #FFFF;
        .heading{
            font-size: 18px;
            font-weight: bold;
            color: #333333;
            text-align: center;
        }
    }
}
