<div style="background-color:#CC0F0F;" class="m-header" [style.display]="this.headerStyle">
  <a class="mobile-menu" id="mobile-collapse1" href="javascript:" (click)="this.onNavCollapsedMob.emit();"><span></span></a>
  <a [routerLink]="['/dashboard/default']" class="b-brand">
   <img src="assets/images/mswipe-logo.png" srcset="assets/images/mswipe-logo@2x.png 2x" alt="">
  </a>
</div>
<a class="mobile-menu" [ngClass]="{'on' : this.menuClass}" id="mobile-header" href="javascript:" (click)="toggleMobOption()"><i class="feather icon-more-horizontal"></i></a>
<div class="collapse navbar-collapse" [style.display]="this.collapseStyle">
  <app-nav-left class="mr-auto" [style.display]="this.headerStyle" *ngIf="this.eliteConfig['layout'] !== 'horizontal'"></app-nav-left>
  <app-nav-right class="ml-auto"></app-nav-right>
</div>

