<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <div>
            <h5 class="card-title">Profile </h5>
          </div>
          <div class="d-flex justify-content-end">
          <div> 
            <button class="btn btn-rounded btn-outline-info mt-1" (click)="addProfile()"
              data-modal="modal-13"> Create Profile </button>
          </div>
          <div class="h-list-header m-b-5">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search . . .">
              <div class="input-group-append">
                <span class="input-group-text"><i class='feather icon-search' (click)="searchData()"></i></span>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="card-body row  custome_space">
        <div class="col-xl-12">
          <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Profile Name</th>
                        <th>Sale</th>
                        <th>Pre Auth</th>
                        <th>Pre Auth Compl</th>
                        <th>Manual Entry</th>
                        <th>TIP</th>
                        <th>IPP</th>
                        <th>Rcpt</th>
                        <th>GPN</th>
                        <th>AmEx</th>
                        <th>MasterCard</th>
                        <th>Visa</th>
                        <th>CUP</th>
                        <th>Full Mask</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let getProfile of getProfileDetails | paginate: { itemsPerPage: 5, currentPage: appsProfile}"
                        class="cursor_point; i as index">
                       
                        <td>{{getProfile.profilename ? getProfile.profilename : '-'}}</td>
                        <td>{{getProfile.sale ? getProfile.sale : '-'}}</td>
                        <td>{{getProfile.preauth?getProfile.preauth:'-'}}</td>
                        <td>{{getProfile.preauthcompl ? getProfile.preauthcompl : '-'}}</td>
                        <td>{{getProfile.manualentry ? getProfile.manualentry : '-'}}</td>
                        <td>{{getProfile.tip ? getProfile.tip : '-'}}</td>
                        <td>{{getProfile.ipp ? getProfile.ipp : '-'}}</td>
                        <td>{{getProfile.receiptrequired ? getProfile.receiptrequired : '-'}}</td>
                        <td>{{getProfile.gpn ? getProfile.gpn : '-'}}</td>
                        <td>{{getProfile.amex ? getProfile.amex : '-'}}</td>
                        <td>{{getProfile.mastercard ? getProfile.mastercard : '-'}}</td>
                        <td>{{getProfile.visa ? getProfile.visa : '-'}}</td>
                        <td>{{getProfile.cup ? getProfile.cup : '-'}}</td>
                        <td>{{getProfile.fullmask ? getProfile.fullmask : '-'}}</td>
                        <td>
                          <i class="fas fa-eye" (click)="viewProfile(getProfile)" data-modal="modal-4"></i>&nbsp;&nbsp;&nbsp;
                          <i class="fas fa-pencil-alt" (click)="updateProfile(getProfile)"></i>
                          &nbsp;&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true" (click)="deleteProfile(getProfile,i)"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="getProfileDetails?.length == 0">
                  <div class="text-center">
                    No Records Found!
                  </div>
                </div>
                <div class="text-right">
                  <pagination-controls (pageChange)="appsProfile = $event"></pagination-controls>
                </div>
             
        </div>
      </div>

    </div>
  </div>
</div>

<app-animation-modal tabindex="-1" [modalID]="'modal-4'" [modalClass]="'md-effect-1'">
  <div class="form_wrapper">
  <h3 class="popUpColor">View Details</h3>
  <div class="row">
    <div class="input-group-sm col-sm-3 mb-4">
      <label>Profile Name</label>
      <input class="form-control" autocomplete="off" name="ProfileName"
        [(ngModel)]="ProfileName" type="text"/>
    </div>
    <div class="input-group-sm col-sm-3 mb-4">
      <label>Currency Code</label>
      <input class="form-control" autocomplete="off" name="CurrencyCode"
        [(ngModel)]="CurrencyCode" type="text"/>
    </div>
    <div class="col-sm-3 input-group-sm select_custom">
      <label>Sale</label>
      <select class="mb-2 form-control" [(ngModel)]="Sale" name="Sale">
        <option value="Y" selected>Yes</option>
        <option value="N">No </option>
      </select>
    </div>
    <div class="col-sm-3 input-group-sm select_custom">
      <label>Pre Auth</label>
      <select class="mb-2 form-control" [(ngModel)]="preauth" name="preauth">
        <option value="Y" selected>Yes</option>
        <option value="N">No </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 input-group-sm select_custom">
      <label>Pre Auth Compl</label>
      <select class="mb-2 form-control" [(ngModel)]="preauthcom" name="preauthcom">
        <option value="Y" selected>Yes</option>
        <option value="N">No </option>
      </select>
    </div>
    <div class="col-sm-3 input-group-sm select_custom">
      <label>Manual Entry</label>
      <select class="mb-2 form-control" [(ngModel)]="mentry" name="mentry">
        <option value="Y" selected>Yes</option>
        <option value="N">No </option>
      </select>
    </div>
    <div class="col-sm-3 input-group-sm select_custom">
      <label>TIP</label>
      <select class="mb-2 form-control" [(ngModel)]="tip" name="tip">
        <option value="Y" selected>Yes</option>
        <option value="N">No </option>
      </select>
    </div>
    <div class="col-sm-3 input-group-sm select_custom">
      <label>IPP</label>
      <select class="mb-2 form-control" [(ngModel)]="ipp" name="ipp">
        <option value="Y" selected>Yes</option>
        <option value="N">No </option>
      </select>
    </div>
  </div>
  <div class="row">
   
    <div class="col-sm-3 input-group-sm select_custom">
      <label>Rcpt</label>
      <select class="mb-2 form-control" [(ngModel)]="rcpt" name="rcpt">
        <option value="Y" selected>Yes</option>
        <option value="N">No </option>
      </select>
    </div>
    <div class="col-sm-3 input-group-sm select_custom">
      <label>GPN</label>
      <select class="mb-2 form-control" [(ngModel)]="gpn" name="gpn">
        <option value="Y" selected>Yes</option>
        <option value="N">No </option>
      </select>
    </div>
    <div class="col-sm-3 input-group-sm select_custom">
      <label>AmEx</label>
      <select class="mb-2 form-control" [(ngModel)]="amex" name="amex">
        <option value="Y" selected>Yes</option>
        <option value="N">No </option>
      </select>
    </div>
    <div class="col-sm-3 input-group-sm select_custom">
      <label>MasterCard</label>
      <select class="mb-2 form-control" [(ngModel)]="mcard" name="mcard">
        <option value="Y" selected>Yes</option>
        <option value="N">No </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 input-group-sm select_custom">
      <label>Visa</label>
      <select class="mb-2 form-control" [(ngModel)]="visa" name="visa">
        <option value="Y" selected>Yes</option>
        <option value="N">No </option>
      </select>
    </div>
    <div class="col-sm-3 input-group-sm select_custom">
      <label>CUP</label>
      <select class="mb-2 form-control" [(ngModel)]="cup" name="cup">
        <option value="Y" selected>Yes</option>
        <option value="N">No </option>
      </select>
    </div>
    <div class="col-sm-3 input-group-sm select_custom">
      <label>Full Mask</label>
      <select class="mb-2 form-control" [(ngModel)]="fullMask" name="fullMask">
        <option value="Y" selected>Yes</option>
        <option value="N">No </option>
      </select>
    </div>
  </div>
  
  <div class="d-flex justify-content-center mt-3">
    <div>
      <button type="button" (click)="closePopUpTID()" class="btn btn-rounded btn-outline-info">Close</button>
    </div>
  </div>
  </div>
  </app-animation-modal>