<div class="row">
  <div class="col-xl-12">
    <div class="card-header_payment">
      <app-card cardTitle="View TID" [options]="false" blockClass="table-border-style">
        <div class="card shadow-none">
          <div class="card-body shadow border-0">
            <form #fform="ngForm">
              <div class="row">
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>TID</label>
                  <input class="form-control" autocomplete="off" name="TID"
                    [(ngModel)]="TID" type="text"/>
                </div>
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>MID</label>
                  <select class="mb-2 form-control" [(ngModel)]="Enabled" name="Enabled">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>Enabled</label>
                  <select class="mb-2 form-control" [(ngModel)]="Enabled" name="Enabled">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Serial Number</label>
                  <input class="form-control" autocomplete="off" name="SerialNumber"
                    [(ngModel)]="SerialNumber" type="text"/>
                </div>
              </div>
              <div class="row">
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>TMK</label>
                  <input class="form-control" autocomplete="off" name="TMK"
                    [(ngModel)]="TMK" type="text"/>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>TMK KCV</label>
                  <input class="form-control" autocomplete="off" name="TMKKCV"
                    [(ngModel)]="TMKKCV" type="text"/>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>TAK</label>
                  <input class="form-control" autocomplete="off" name="TAK"
                    [(ngModel)]="TAK" type="text"/>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>TAK KCV</label>
                  <input class="form-control" autocomplete="off" name="TAKKCV"
                    [(ngModel)]="TAKKCV" type="text"/>
                </div>
               </div>
               <div class="row">
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Key Srnr</label>
                  <input class="form-control" autocomplete="off" name="KeySrnr"
                    [(ngModel)]="KeySrnr" type="text"/>
                </div>
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>Profile Name</label>
                  <select class="mb-2 form-control" [(ngModel)]="Enabled" name="Enabled">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
               </div>
              <div class="row">
                <div class="input-group-sm select_custom col-xl-12">
                  <button type="submit" id="addbtn" class="btn select_custom_button">Back</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>