<div class="row">
  <div class="col-xl-12">
    <div class="card-header_payment">
      <app-card cardTitle="Update Super MID" [options]="false" blockClass="table-border-style">
        <div class="card shadow-none">
          <div class="card-body shadow border-0">
            <form #fform="ngForm">
              <div class="row">
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Legal Name</label>
                  <input type="text" class="form-control" id="LegalName" [(ngModel)]="Legal_Name" name="Legal_Name" #LegalName="ngModel"
                    required>
                  <div [hidden]="LegalName.valid || LegalName.pristine" class="alert alert-danger">
                    <div [hidden]="!LegalName.hasError('required')"> Legal Name is required</div>
                    </div>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>DBA Name</label>
                  <input class="form-control" autocomplete="off" name="DBAName"
                    [(ngModel)]="DBAName" type="text" #dba="ngModel" required/>
                    <div [hidden]="dba.valid || dba.pristine" class="alert alert-danger">
                      <div [hidden]="!dba.hasError('required')"> DBA Name is required</div>
                    </div>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Address</label>
                  <input class="form-control" autocomplete="off" name="Address"
                    [(ngModel)]="Address" type="text"/>
                </div>
                <div class="input-group-sm col-sm-3 mb-2">
                  <label>Mobile Number</label>
                  <input type="tel" class="form-control" id="mobile_no" [(ngModel)]="mobile_no" name="mobile_no" pattern="[0-9]*"
                    minlength="10" maxlength="10" #mobile="ngModel">
                  <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger">
                    <div [hidden]="!mobile.hasError('pattern')"> Only number allowed</div>
                    <div [hidden]="!mobile.hasError('maxlength')"> Maximum 10 digit allowed</div>
                    <div [hidden]="!mobile.hasError('minlength')"> Maximum 10 digit allowed</div>
                    <div [hidden]="!mobile.touched"> Maximum 10 digit allowed</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Email ID</label>
                  <input class="form-control" autocomplete="off" name="EmailID"
                    [(ngModel)]="EmailID" type="text"/>
                </div>
                <div class="col-sm-3 input-group-sm select_custom">
                  <label>Enabled</label>
                  <select class="mb-2 form-control" [(ngModel)]="Enabled" name="Enabled">
                    <option value="Y" selected>Yes</option>
                    <option value="N">No </option>
                  </select>
                </div>
                <div class="input-group-sm col-sm-3 mb-4">
                  <label>Super MID</label>
                  <input class="form-control" autocomplete="off" name="SuperMID"
                    [(ngModel)]="SuperMID" type="text"/>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <div>
                  <button type="submit" id="addbtn" class="btn select_custom_button" [disabled]="!Legal_Name || !DBAName"
                    (click)="updateSuperMID()">Update</button>
                </div>
                <!-- <div>
                  <button type="reset" class="btn select_custom_button">Reset</button>
                </div> -->
              </div>
            </form>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>