<div style="background-color:#CC0F0F;" class="navbar-brand header-logo">
  <a [routerLink]="['/dashboard/analytics/']" class="b-brand">
    <img src="assets/images/mswipe-logo.png" srcset="assets/images/mswipe-logo@2x.png 2x" alt="">
  </a>
  <!-- <a href="javascript:" class="mobile-menu" [ngClass]="{'on' : navCollapsed}" id="mobile-collapse" (click)="navCollapse()"><span></span></a> -->
</div>
