<div class="row">
<div class="col-xl-12">
<div class="card">
<div class="card-header">
<div class="d-flex justify-content-between">
<div>
<h5 class="card-title">Merchant ID </h5>
</div>
<div class="d-flex justify-content-end">
<div> 
<button class="btn btn-rounded btn-outline-info mt-1" (click)="addMID()"
data-modal="modal-13"> Create MID </button>
</div>
<div class="h-list-header m-b-5">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search . . .">
    <div class="input-group-append">
      <span class="input-group-text"><i class='feather icon-search'></i></span>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="card-body row  custome_space">
<div class="col-xl-12">
<div class="table-responsive">
<table class="table">
<thead>
<tr>
<th>MID</th>
<th>Legal Name</th>
<th>DBA Name</th>
<th>City</th>
<th>Mobile Number</th>
<th>Postal Code</th>
<th>MCC</th>
<th>Enabled</th>
<th>Super MID</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let getmid of getMIDDetails | paginate: { itemsPerPage: 5, currentPage: appsMID}"
class="cursor_point; i as index">

<td>{{getmid.mid ? getmid.mid : '-'}}</td>
<td>{{getmid.legalname ? getmid.legalname : '-'}}</td>
<td>{{getmid.dbaname ? getmid.dbaname : '-'}}</td>
<td>{{getmid.city ? getmid.city : '-'}}</td>
<td>{{getmid.mobilenumber ? getmid.mobilenumber : '-'}}</td>
<td>{{getmid.postalcode ? getmid.postalcode : '-'}}</td>
<td>{{getmid.mcc ? getmid.mcc : '-'}}</td>
<td>{{getmid.enabled ? getmid.enabled : '-'}}</td>
<td>{{getmid.supermid ? getmid.supermid : '-'}}</td>
<td>
<i class="fas fa-eye" (click)="viewMid(getmid)" data-modal="modal-2"></i>&nbsp;&nbsp;&nbsp;
<i class="fas fa-pencil-alt" (click)="updateMid(getmid)"></i>
&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true" (click)="deleteMid(getmid,i)"></i>
</td>
</tr>
</tbody>
</table>

</div>
<div *ngIf="getMIDDetails?.length == 0">
<div class="text-center">
No Records Found
</div>

</div>
<div class="text-right">
<pagination-controls (pageChange)="appsMID = $event"></pagination-controls>
</div>

</div>
</div>

</div>
</div>
</div>
<app-animation-modal tabindex="-1" [modalID]="'modal-2'" [modalClass]="'md-effect-1'">
<div class="form_wrapper">
<h3 class="popUpColor">View Details</h3>
<div class="row mt-2">
<div class="input-group-sm col-sm-3">
  <label>MID</label>
  <input class="form-control" autocomplete="off" name="MID" [(ngModel)]="MID" type="text" readonly />
</div>
<div class="input-group-sm col-sm-3">
  <label>DBA Name</label>
  <input class="form-control" autocomplete="off" name="DBAName" [(ngModel)]="DBAName" type="text" readonly />
</div>
<div class="input-group-sm col-sm-3">
  <label>City</label>
  <input class="form-control" autocomplete="off" name="City" [(ngModel)]="City" type="text" readonly />
</div>
<div class="input-group-sm col-sm-3">
  <label>Country</label>
  <input class="form-control" autocomplete="off" name="Country" [(ngModel)]="Country" type="text" readonly />
</div>
</div>
<div class="row mt-3">
  <div class="input-group-sm col-sm-3">
    <label>Mobile Number</label>
    <input class="form-control" autocomplete="off" name="MobileNumber" [(ngModel)]="MobileNumber" type="text"
      readonly />
  </div>
  <div class="input-group-sm col-sm-3">
    <label>Postal Code</label>
    <input class="form-control" autocomplete="off" name="PostalCode" [(ngModel)]="PostalCode" type="text" readonly />
  </div>
  <div class="input-group-sm col-sm-3">
    <label>MCC</label>
    <input class="form-control" autocomplete="off" name="MCC" [(ngModel)]="MCC" type="text" readonly/>
  </div>
  <div class="col-sm-3 input-group-sm select_custom">
    <label>Enabled</label>
    <select class="mb-2 form-control" [(ngModel)]="Enabled" name="Enabled">
      <option value="Y" selected>Yes</option>
      <option value="N">No </option>
    </select>
  </div>
</div>
<div class="row mt-3">
  
  <div class="input-group-sm col-sm-3">
    <label>Start Hours</label>
    <input class="form-control" autocomplete="off" name="StartHours" [(ngModel)]="StartHours" type="text" readonly/>
  </div>
  <div class="input-group-sm col-sm-3">
    <label>End Hours</label>
    <input class="form-control" autocomplete="off" name="EndHours" [(ngModel)]="EndHours" type="text" readonly/>
  </div>
  <div class="input-group-sm col-sm-3">
    <label>Super MID</label>
    <input class="form-control" autocomplete="off" name="SuperMID" [(ngModel)]="SuperMID" type="text" readonly/>
</div>
<div class="input-group-sm col-sm-3">
  <label>Void PWD</label>
  <input class="form-control" autocomplete="off" name="VoidPWD" [(ngModel)]="VoidPWD" type="text" readonly/>
</div>
</div>
<div class="row mt-3">

<div class="input-group-sm col-sm-3">
  <label>PAC PWD</label>
  <input class="form-control" autocomplete="off" name="PACPWD" [(ngModel)]="PACPWD" type="text" readonly/>
</div>
</div>

<div class="d-flex justify-content-center mt-3">
  <div>
    <button type="button" (click)="closePopUpTID()" class="btn btn-rounded btn-outline-info">Close</button>
  </div>
</div>
</div>
</app-animation-modal>