body {
  line-height: 1.5;

  td, th {
    font-family: "Mada", sans-serif;
  }
}
header {
  width: 100%;
}

.form-control{
  height: auto;
}

.border-less-image-gallery ks-modal-gallery .plain-container .image {
  border: none;
}

.elite-accordion {
  .card-header {
    padding: 8px;

    button {
      margin: 0;
    }
  }
}

.h-back-user-list {
  color: $primary-color !important;
}

@media only screen and (max-width: 575px) {
  .pcoded-header .dropdown .dropdown-menu {
    left: 0 !important;
  }

  wizard.vertical .vertical a {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  .filter-bar .card-task .task-board {
    float: none;
    margin-top: 25px;
  }
}

.pcoded-header .dropdown.show:before {
  left: -10px !important;
}

div.horizontal-scroll {
  overflow: auto;
  white-space: nowrap;
}

#timer {
  color: #ffffff;
  b {
    font-size: 24px;
  }
}

pre code{
  width: auto;
  min-width: 100%;
  margin-left: -80px !important;
}

.bg-facebook {
  background: #3c5a99;
}

.bg-twitter {
  background: #42c0fb;
}

.bg-linkedin {
  background: #0077b5;
}

.bg-googleplus {
  background: #c73e2e;
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before{
  top: 20px;
}
.tab-content{
  padding: 15px;
}
.nav{
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  .nav-tabs{
    .nav-link{
      white-space: nowrap;
    }
  }
}