<div class="row">
  <!-- support-tracker start -->
  <div class="col-xl-4 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h6>Support Analytics</h6>
          </div>
          <div class="col">
            <div class="dropdown float-right" ngbDropdown>
              <a class="dropdown-toggle text-c-blue" ngbDropdownToggle href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Last 5 month
              </a>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:;">1 week</a>
                <a class="dropdown-item" href="javascript:;">2 year</a>
                <a class="dropdown-item" href="javascript:;">3 month</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h2 class="mt-2 mb-0">280</h2>
            <span class="">Ticket</span>
            <h6 class="mb-0 mt-3">Close: <span class="text-primary">120</span></h6>
            <h6>Response <span class="text-danger">2d</span></h6>
          </div>
          <div class="col">
            <app-support-analytics></app-support-analytics>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- support-tracker end -->
  <!-- session-device start -->
  <div class="col-xl-4 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-auto">
            <h6>Page view by device</h6>
          </div>
          <div class="col">
            <div class="dropdown float-right" ngbDropdown>
              <a class="dropdown-toggle text-c-blue" ngbDropdownToggle href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 30 days</a>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:;">1 week</a>
                <a class="dropdown-item" href="javascript:;">2 year</a>
                <a class="dropdown-item" href="javascript:;">3 month</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 pr-0">
            <h6 class="my-3"><i class="feather icon-monitor f-20 mr-2" style="color:#dc67ce"></i>66.6%<span class="text-c-green ml-2 f-14"><i class="feather icon-arrow-up"></i>2%</span></h6>
            <h6 class="my-3"><i class="feather icon-tablet f-20 mr-2" style="color:#8067dc"></i>29.7%<span class="text-c-red ml-2 f-14"><i class="feather icon-arrow-down"></i>3%</span></h6>
            <h6 class="my-3"><i class="feather icon-smartphone f-20 mr-2" style="color:#67b7dc"></i>32.8%<span class="text-c-green ml-2 f-14"><i class="feather icon-arrow-up"></i>8%</span></h6>
          </div>
          <div class="col-6">
            <app-chart-percent></app-chart-percent>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- session-device end -->
  <!-- storage-activity start -->
  <div class="col-xl-4 col-md-12">
    <div class="card">
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-auto">
            <h6>Cloud Computing</h6>
          </div>
          <div class="col">
            <div class="dropdown float-right" ngbDropdown>
              <a class="dropdown-toggle text-c-blue" ngbDropdownToggle href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Daily</a>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:;">1 week</a>
                <a class="dropdown-item" href="javascript:;">2 year</a>
                <a class="dropdown-item" href="javascript:;">3 month</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-auto">
            <span class="d-block"><i class="fas fa-circle text-c-blue f-10 m-r-10"></i>Storage</span>
            <h6 class="ml-3 mt-1">10.5 GB</h6>
          </div>
          <div class="col">
            <span class="d-block"><i class="fas fa-circle text-c-purple f-10 m-r-10"></i>Bandwidth</span>
            <h6 class="ml-3 mt-1">50 GB</h6>
          </div>
        </div>
      </div>
      <app-storage-chart></app-storage-chart>
    </div>
  </div>
  <!-- storage-activity end -->
  <!-- account-section start -->
  <div class="col-xl-8">
    <div class="card">
      <div class="card-body">
        <h6 class="text-c-blue mb-3">Department wise annual recurring and profit</h6>
        <div class="row">
          <div class="col-auto">
            <h3>$687,578</h3>
            <h6><i class="feather icon-trending-down text-c-red mr-2"></i>Marketing Growth</h6>
            <span>Measure How Fast You're Growing in<br>current Market.<span class="text-c-blue">Learn More</span></span>
          </div>
          <div class="col">
            <h3>30%</h3>
            <h6><i class="feather icon-trending-up text-c-blue mr-2"></i>Annual profit/stakeholders</h6>
            <span>Ave 30% or more profite provide to investor as<br>Anual return.<span class="text-c-blue">Learn More</span></span>
          </div>
        </div>
      </div>
      <app-account-chart></app-account-chart>
    </div>
  </div>
  <!-- account-section end -->
  <!-- traffic-monitor start -->
  <div class="col-xl-4">
    <div class="row">
      <div class="col-xl-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h6>Traffic tracker</h6>
            <div class="row mt-2">
              <div class="col-6">
                <span class="d-block text-uppercase">Inbound</span>
                <h3 class="mt-1">180 GB</h3>
                <div class="mt-3" id="transactions1" style="height:50px;margin:0 auto;"></div>
              </div>
              <div class="col-6">
                <span class="d-block text-uppercase">Outbound</span>
                <h3 class="mt-1">597.1 GB</h3>
                <div class="mt-3" id="transactions2" style="height:50px;margin:0 auto;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row d-flex align-items-center">
              <div class="col-6 pr-0">
                <span class="d-block mb-1"><i class="fas fa-circle f-10 m-r-5" style="color:#a367dc;"></i>Desktop [66.6%]</span>
                <span class="d-block mb-1"><i class="fas fa-circle f-10 m-r-5" style="color:#67b7dc;"></i>Mobile [29.7%]</span>
                <span class="d-block"><i class="fas fa-circle f-10 m-r-5" style="color:#6771dc;"></i>Tablet [38.6%]</span>
              </div>
              <div class="col-6">
                <app-device-chart></app-device-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- traffic-monitor end -->
  <!-- conversion-section start -->
  <div class="col-sm-12">
    <div class="row no-gutters">
      <div class="col-md-4 col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-body">
            <span>Transactions</span>
            <h3>61</h3>
            <app-real4-chart></app-real4-chart>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-body">
            <span>Page bounce rate</span>
            <h3>0.50%</h3>
            <app-real1-chart></app-real1-chart>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-body">
            <span>Revenue</span>
            <h3>$2,45,789</h3>
            <app-real2-chart></app-real2-chart>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-body">
            <span>New Purchases</span>
            <h3>45</h3>
            <app-real3-chart></app-real3-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- conversion-section end -->
  <!-- moodrate start -->
  <div class="col-xl-4 col-md-5">
    <div class="card rating-bar">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-6">
            <h6 class="m-0">Task Completed</h6>
            <span>Successfull tested</span>
          </div>
          <div class="col-6">
            <h2 class="text-right">60%</h2>
          </div>
        </div>
        <div class="box-body f-left">
          <bar-rating [(rate)]="rateHorizontal" [max]="24" [theme]="'horizontal'"></bar-rating>
          <span class="current-rating"></span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h6 class="mb-3">Session by time of day</h6>
        <app-time-user></app-time-user>
      </div>
    </div>
  </div>
  <!-- moodrate end -->
  <!-- Population-section start -->
  <div class="col-xl-8 col-md-7">
    <div class="card">
      <div class="card-header">
        <h5>Product manufacturing completion by Region</h5>
      </div>
      <div class="card-body">
        <app-horizontal-bar-chart></app-horizontal-bar-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-md-12">
        <!-- conversion1-section start -->
        <div class="card">
          <div class="card-body">
            <h6>Conversions</h6>
            <h4 class="m-0">0.85%<span class="text-c-blue ml-2"><i class="feather icon-arrow-up"></i>0.50%</span></h4>
            <span>Purchased</span>
          </div>
          <app-conversions-chart></app-conversions-chart>
        </div>
        <!-- conversion1-section end -->
      </div>
      <div class="col-xl-6 col-md-12">
        <!-- site-section start -->
        <div class="card">
          <div class="card-body">
            <div class="row d-flex align-items-center">
              <div class="col-auto">
                <h6>Active customer <span class="d-block">on site</span></h6>
                <h2 class="m-0">2.86</h2>
                <span class="text-c-green">+85.9%</span>
              </div>
              <div class="col">
                <app-site-chart></app-site-chart>
              </div>
            </div>
          </div>
        </div>
        <!-- site-section end -->
      </div>
    </div>
  </div>
  <!-- Population-section End -->
  <!-- customer-section start -->
  <div class="col-xl-4">
    <div class="card">
      <div class="card-body">
        <h6>Customer Satisfaction</h6>
        <span>It takes continuous effort to maintain high customer satisfaction levels.Internal and external quality measures are often tied together.,as the opinion...</span>
        <span class="text-c-blue d-block">Learn more..</span>
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-sm-6">
            <app-satisfaction-chart></app-satisfaction-chart>
          </div>
          <div class="col-sm-6">
            <span class="d-block mb-1"><i class="fas fa-circle f-10 m-r-5" style="color:#67b7dc;"></i>Very Poor [66%]</span>
            <span class="d-block mb-1"><i class="fas fa-circle f-10 m-r-5" style="color:#6794dc;"></i>Satisfied [50%]</span>
            <span class="d-block mb-1"><i class="fas fa-circle f-10 m-r-5" style="color:#6771dc;"></i>Very Satisfied [40%]</span>
            <span class="d-block mb-1"><i class="fas fa-circle f-10 m-r-5" style="color:#8067dc;"></i>Poor [30%]</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- customer-section end -->
  <!-- time-section start -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5>Time on Site</h5>
      </div>
      <div class="card-body">
        <app-time-chart></app-time-chart>
        <div class="row mt-2">
          <div class="col-6">
            <span class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-10"></i>Time on site</span>
          </div>
          <div class="col-6 text-right">
            <span class="text-muted">1:31</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- time-section end -->
  <!-- browser-section start -->
  <div class="col-md-4">
    <div class="card table-card">
      <div class="card-header borderless">
        <h5>Browser States</h5>
      </div>
      <div class="card-body px-0 py-0">
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <tbody>
            <tr>
              <td>Google Chrome</td>
              <td><span class="text-right d-block m-0"><span class="m-r-15">21%</span><span class="data-attributes" data-peity='{ "fill": ["#2196f3", "#eeeeee"],"innerRadius": 8, "radius": 13 }'>5/7</span></span></td>
            </tr>
            <tr>
              <td>Mozila Firefox</td>
              <td><span class="text-right d-block m-0"><span class="m-r-15">76%</span><span class="data-attributes" data-peity='{ "fill": ["#f44336", "#eeeeee"],"innerRadius": 8, "radius": 13 }'>3/8</span></span></td>
            </tr>
            <tr>
              <td>Apple Safari</td>
              <td><span class="text-right d-block m-0"><span class="m-r-15">20%</span><span class="data-attributes" data-peity='{ "fill": ["#4caf50", "#eeeeee"],"innerRadius": 8, "radius": 13 }'>5/6</span></span></td>
            </tr>
            <tr>
              <td>Internet Explorer</td>
              <td><span class="text-right d-block m-0"><span class="m-r-15">26%</span><span class="data-attributes" data-peity='{ "fill": ["#7759de", "#eeeeee"],"innerRadius": 8, "radius": 13 }'>2/6</span></span></td>
            </tr>
            <tr>
              <td>Opera mini</td>
              <td><span class="text-right d-block m-0"><span class="m-r-15">27%</span><span class="data-attributes" data-peity='{ "fill": ["#FF9800", "#eeeeee"],"innerRadius": 8, "radius": 13 }'>5/7</span></span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- browser-section end -->
  <!-- visit-section start -->
  <div class="col-xl-5 col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>Visits by Location</h5>
      </div>
      <div class="card-body">
        <app-am-map-chart></app-am-map-chart>
        <div class="row mb-2 mt-3">
          <div class="col">
            <p class="m-0"><i class="fas fa-circle text-c-blue f-10 m-r-10"></i>USA</p>
          </div>
          <div class="col">
            <p class="m-0">8.2 k</p>
          </div>
          <div class="col">
            <p class="text-c-blue m-0"><i class="feather icon-arrow-up"></i>8%</p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <p class="m-0"><i class="fas fa-circle text-c-red f-10 m-r-10"></i>India</p>
          </div>
          <div class="col">
            <p class="m-0">7.2 k</p>
          </div>
          <div class="col">
            <p class="text-c-red m-0"><i class="feather icon-arrow-up"></i>5%</p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <p class="m-0"><i class="fas fa-circle text-c-green f-10 m-r-10"></i>China</p>
          </div>
          <div class="col">
            <p class="m-0">9.2 k</p>
          </div>
          <div class="col">
            <p class="text-c-green m-0"><i class="feather icon-arrow-up"></i>6%</p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <p class="m-0"><i class="fas fa-circle text-c-yellow f-10 m-r-10"></i>Brazil</p>
          </div>
          <div class="col">
            <p class="m-0">3.2 k</p>
          </div>
          <div class="col">
            <p class="text-c-yellow m-0"><i class="feather icon-arrow-up"></i>4%</p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <p class="m-0"><i class="fas fa-circle text-c-purple f-10 m-r-10"></i>Other</p>
          </div>
          <div class="col">
            <p class="m-0">4.2 k</p>
          </div>
          <div class="col">
            <p class="text-c-purple m-0"><i class="feather icon-arrow-up"></i>3%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- visit-section end -->
  <!-- Population-section start -->
  <div class="col-xl-7 col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5>Sales Report</h5>
          </div>
          <div class="card-body">
            <app-sale-chart></app-sale-chart>
            <div class="row mt-3 d-flex align-items-center text-center">
              <div class="col-6">
                <h6>$1000</h6>
                <span>Target</span>
              </div>
              <div class="col-6">
                <h6>$985</h6>
                <span>Last week</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5>Current project progress</h5>
          </div>
          <div class="card-body">
            <h6 class="mb-3"><span class="pie_1" data-peity='{"radius": 12 }'>226,134</span><span class="m-l-10">AFSL web app</span></h6>
            <h6 class="mb-3"><span class="pie_2" data-peity='{"radius": 12 }'>1,4</span><span class="m-l-10">Norttech website</span></h6>
            <h6 class="mb-0"><span class="pie_3" data-peity='{"radius": 12 }'>1/3</span><span class="m-l-10">Maestro iris attendance</span></h6>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-auto">
                <span>Customers</span>
              </div>
              <div class="col text-right">
                <h2 class="mb-0">826</h2>
                <span class="text-c-green">8.2%<i class="feather icon-trending-up ml-1"></i></span>
              </div>
            </div>
            <app-customer-chart></app-customer-chart>
            <div class="row mt-4">
              <div class="col">
                <h3 class="m-0"><i class="fas fa-circle f-10 m-r-5" style="color:#67b7dc;"></i>674</h3>
                <span class="ml-3">New</span>
              </div>
              <div class="col">
                <h3 class="m-0"><i class="fas fa-circle text-c-blue f-10 m-r-5" style="color:#dc6788;"></i>182</h3>
                <span class="ml-3">Return</span>
              </div>
              <div class="col">
                <h3 class="m-0"><i class="fas fa-circle text-c-purple f-10 m-r-5" style="color:#a367dc;"></i>768</h3>
                <span class="ml-3">Custom</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h6>New stock <span class="text-muted">( purchased )</span></h6>
            <h4 class="m-0">0.85%<span class="text-c-blue ml-2"><i class="feather icon-arrow-up"></i>0.50%</span></h4>
          </div>
          <app-conversions-chart1></app-conversions-chart1>
        </div>
      </div>
    </div>
  </div>
  <!-- Population-section end -->
  <!-- total-revenue start -->
  <div class="col-xl-4 col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>Total Revenue</h5>
      </div>
      <div class="card-body">
        <app-revenue-chart></app-revenue-chart>
        <span class="text-center mt-3 text-muted d-block">Total sales made today</span>
      </div>
      <div class="card-footer">
        <div class="row d-flex align-items-center text-center">
          <div class="col">
            <h6>$1258</h6>
            <span>Target</span>
          </div>
          <div class="col">
            <h6>$975</h6>
            <span>Last week</span>
          </div>
          <div class="col">
            <h6>$500</h6>
            <span>Last month</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- total-revenue end -->
  <!-- market-dow start -->
  <div class="col-xl-4 col-md-6">
    <div class="card">
      <div class="card-header">
        <h5>Market Sales</h5>
      </div>
      <div class="card-body">
        <h3><i class="feather icon-trending-down text-c-red mr-3"></i>27,695.65</h3>
        <div class="row d-flex align-items-center text-center mt-4">
          <div class="col">
            <h6>Youtube</h6>
            <span class="text-c-red">- 16.85%</span>
          </div>
          <div class="col">
            <h6>Facebook</h6>
            <span class="text-c-purple">+ 45.36%</span>
          </div>
          <div class="col">
            <h6>Twitter</h6>
            <span class="text-c-blue">+ 50.69%</span>
          </div>
        </div>
        <app-market-chart></app-market-chart>
      </div>
    </div>
  </div>
  <!-- market-dow end -->
  <!-- sales-section start -->
  <div class="col-xl-4 col-md-6">
    <div class="card">
      <div class="card-header">
        <h5>Sale report of year</h5>
      </div>
      <div class="card-body">
        <app-type-chart></app-type-chart>
        <div class="mt-3">
          <span class="d-block mb-2"><i class="fas fa-circle f-10 m-r-15" style="color:#67b7dc;"></i>Desktop Computers<span class="float-right f-w-400">76.7%</span></span>
          <span class="d-block mb-2"><i class="fas fa-circle f-10 m-r-15" style="color:#8067dc;"></i>Smartphones<span class="float-right f-w-400">15%</span></span>
          <span class="d-block"><i class="fas fa-circle f-10 m-r-15" style="color:#dc67ce;"></i>Tablets<span class="float-right f-w-400">30%</span></span>
        </div>
      </div>
    </div>
  </div>
  <!-- sales-section end -->
  <!-- store-section start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h5>Store Visitors</h5>
          </div>
          <div class="col-auto text-right">
            <span>This Month</span>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-auto">
            <h4 class="m-0">563,756<i class="feather icon-arrow-up text-c-green"></i></h4>
            <span>Visits per Day</span>
          </div>
          <div class="col-auto">
            <h4 class="m-0">78,569<i class="feather icon-arrow-down text-c-red"></i></h4>
            <span>Total Visitors</span>
          </div>
          <div class="col">
            <h4 class="m-0">40.05%<i class="feather icon-arrow-up text-c-green"></i></h4>
            <span>Bounce Rate</span>
          </div>
        </div>
        <app-site-visitor-chart></app-site-visitor-chart>
      </div>
    </div>
  </div>
  <!-- store-section end -->
  <!-- sessions-section start -->
  <div class="col-xl-12">
    <div class="card table-card">
      <div class="card-header">
        <h5>Advertising campaign monitor</h5>
      </div>
      <div class="card-body px-0 py-0">
        <app-traffic-chart></app-traffic-chart>
        <div class="table-responsive">
          <perfect-scrollbar [style.max-height]="'380px'">
            <table class="table table-hover m-b-0">
              <thead>
              <tr>
                <th><span>Campaign date</span></th>
                <th><span>Click <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                <th><span>Cost <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                <th><span>CTR <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                <th><span>ARPU <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                <th><span>ECPI <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                <th><span>ROI <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                <th><span>Revenue <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                <th><span>Conversions <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Total and average</td>
                <td>1300</td>
                <td>1025</td>
                <td>14005</td>
                <td>95,3%</td>
                <td>29,7%</td>
                <td>3,25</td>
                <td>2:30</td>
                <td>45.5%</td>
              </tr>
              <tr>
                <td>8-11-2016</td>
                <td>786
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>485
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-primary rounded" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>769
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>45,3%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>6,7%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-info rounded" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>8,56
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>10:55
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>33.8%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>15-10-2016</td>
                <td>786
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>523
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-primary rounded" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>736
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>78,3%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>6,6%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-info rounded" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>7,56
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 44%;" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>4:30
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 68%;" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>76.8%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>8-8-2017</td>
                <td>624
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>436
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-primary rounded" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>756
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>78,3%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 38%;" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>6,4%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-info rounded" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>9,45
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 41%;" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>9:05
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 67%;" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>8.63%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 41%;" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>11-12-2017</td>
                <td>423
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 54%;" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>123
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-primary rounded" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>756
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>78,6%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>45,6%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-info rounded" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>6,85
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>7:45
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>33.8%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>1-6-2015</td>
                <td>465
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>463
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-primary rounded" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>456
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>68,6%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>76,6%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-info rounded" role="progressbar" style="width: 32%;" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>7,56
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>8:45
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 71%;" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>39.8%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 38%;" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>8-11-2016</td>
                <td>786
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 43%;" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>485
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-primary rounded" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>769
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 69%;" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>45,3%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>6,7%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-info rounded" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>8,56
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 41%;" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>10:55
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>33.8%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>15-10-2016</td>
                <td>786
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 61%;" aria-valuenow="61" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>523
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-primary rounded" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>736
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>78,3%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>6,6%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-info rounded" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>7,56
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>4:30
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>76.8%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>8-8-2017</td>
                <td>624
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>436
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-primary rounded" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>756
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>78,3%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>6,4%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-info rounded" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>9,45
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>9:05
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>8.63%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 39%;" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>11-12-2017</td>
                <td>423
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>123
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-primary rounded" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>756
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>78,6%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>45,6%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-info rounded" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>6,85
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 44%;" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>7:45
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 71%;" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>33.8%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 41%;" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>1-6-2015</td>
                <td>465
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>463
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-primary rounded" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>456
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>68,6%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>76,6%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-info rounded" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>7,56
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-danger rounded" role="progressbar" style="width:90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>8:45
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>39.8%
                  <div class="progress mt-1" style="height:4px;">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 38%;" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
  </div>
  <!-- sessions-section end -->
  <!-- support-section start -->
  <div class="col-xl-4 col-md-12">
    <div class="card support-bar">
      <div class="card-body pb-0">
        <h2 class="m-0">350</h2>
        <span class="text-c-purple">Support Requests</span>
        <p class="mb-3 mt-3">Total number of support requests that come in.</p>
      </div>
      <app-support-chart></app-support-chart>
      <div class="card-footer bg-secondary text-white">
        <div class="row text-center">
          <div class="col">
            <h4 class="m-0 text-white">10</h4>
            <span>Open</span>
          </div>
          <div class="col">
            <h4 class="m-0 text-white">5</h4>
            <span>Running</span>
          </div>
          <div class="col">
            <h4 class="m-0 text-white">3</h4>
            <span>Solved</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- support-section end -->
  <!-- average-section start -->
  <div class="col-xl-8 col-md-12">
    <div class="row">
      <div class="col-sm-6">
        <div class="card mrr-card">
          <div class="card-body mb-3">
            <span class="d-flex align-items-center"><i class="fab fa-bitcoin text-c-blue f-22 m-r-5"></i>Bitcoin</span>
          </div>
          <app-average-chart11></app-average-chart11>
          <div class="card-body">
            <h3 class="m-0">$80</h3>
            <span>Goal: $75</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mrr-card">
          <div class="card-body mb-3">
            <span class="d-flex align-items-center"><i class="fab fa-ethereum text-c-green f-22 m-r-5"></i>Ethereum</span>
          </div>
          <app-average-chart12></app-average-chart12>
          <div class="card-body">
            <h3 class="m-0">$80</h3>
            <span>Goal: $75</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card bg-danger text-white mrr-card">
          <div class="card-body mb-3">
            <span>Total ticket Resolved</span>
          </div>
          <app-average-chart3></app-average-chart3>
          <div class="card-body">
            <h3 class="m-0 text-white">400</h3>
            <span>pending: 75</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card bg-warning text-white mrr-card">
          <div class="card-body mb-3">
            <span>Avg. Customer Satisfaction</span>
          </div>
          <app-average-chart4></app-average-chart4>
          <div class="card-body">
            <h3 class="m-0 text-white">75%</h3>
            <span>Reopen: 20%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- average-section end -->
  <!-- crypto-section start -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary data-btc active">
            <input type="radio" name="options" id="option1" checked> BTC
          </label>
          <label class="btn btn-secondary data-eth">
            <input type="radio" name="options" id="option2"> ETH
          </label>
          <label class="btn btn-secondary data-ltc">
            <input type="radio" name="options" id="option3"> LTC
          </label>
        </div>
      </div>
      <app-crypto-chart></app-crypto-chart>
    </div>
  </div>
  <!-- crypto-section end -->
</div>
